{% extends "pages/index.html" %}

{% block title %}
	<title>ezMarking | Analysis</title>
{% endblock %}

{% block content %}
<a class="btn" href="/documentation/analysis/raw">View Raw HTML</a>
<script src="../../../static/js/toc-generator.js"></script>

<h1>ezMarker - Analysis</h1>
<p>Version 1.0</p>
<p>Last updated: October 16, 2017</p>

<div id="toc">
	<h2>Table of Contents</h2>
</div>

<h2>Introduction</h2>
<p>
	ezMarker is a web application that allows Wilfrid Laurier markers and professors to bulk upload grades and feedback from formatted text files into MyLearningSpace, 
	with the help of the Brightspace API supported by D2L. The purpose of ezMarker is to solve the issues and inefficiencies with manually uploading student grades and 
	feedback through the current MyLearningSpace interface. On average, it can take markers a few hours to manually upload grades for one class. Marking time is cut 
	down to minutes with the use of ezMarker's bulk file upload. This document outlines the structure of the classes and objects for the ezMarker application, 
	along with the interactions between them.
</p>

<hr>

<h2>Object Classification</h2>

<h3>Object Diagram</h3>
<img src="../../../static/img/object_diagram.png" alt="ezMarker Object Diagram">

<h3>Entity Objects</h3>
<ul>
	<li>Host - Stores host information from config file.</li>
	<li>User - Stores information about logged in user.</li>
	<li>Course - Stores information about a course.</li>
	<li>Student - Stores information about a student.</li>
	<li>GradeItem - Stores information about a grade item. Abstract Class. Implemented by specific grade item type.</li>
	<li>Grade - Stores information about a specific grade. Abstract Class. Implemented by specific grade type.</li>
</ul>

<h3>Boundary Objects</h3>
<ul>
	<li>LoginView - Where user signs in with MLS credentials and receives Brightspace API token.</li>
	<li>LogoutView - Where user signs out.</li>
	<li>CourseListView - Where user gets a list of courses that they have permission to upload grades to.</li>
	<li>SearchStudentsView - Where user can search for students.</li>
	<li>AvailableGradeItemsView - Where user selects a grade item of a course that they have permission to upload grades to.</li>
	<li>ChangeGradeTotalView - Where user can change the grade total for a grade item.</li>
	<li>IndividualGradingView - Where user can change the grade for an individual student's grade item.</li>
	<li>BulkGradingView - Where user can either manually input grades or upload a file for bulk grade submission.</li>
	<li>ReportView - Where user will be shown how many grades were successfully set and if any errors occurred.</li>
</ul>
	
<h3>Control Objects</h3>
<ul>
	<li>LoginController - Coordinates retrieval of Brightspace token and updating User object.</li>
	<li>LogoutController - Coordinates signing out user and updating User object.</li>
	<li>CourseListController - Coordinates the retrieval of Courses that the user has permission to upload grades to.</li>
	<li>SearchStudentsController - Coordinates searching of students by name or student ID.</li>
	<li>AvailableGradeItemsController - Coordinates the retrieval of a course's GradeItems that the user has permission to upload grades to.</li>
	<li>ChangeGradeTotalController - Coordinates changing of the grade total of a grade item and updating GradeItem object.</li>
	<li>GradingController - Coordinates parsing, validating and uploading of students' grades and updating GradeItem object.</li>
</ul>

<h2>Class Diagram</h2>
<img src="../../../static/img/wrapper_analysis_class_diagram.jpg" alt="ezMarker Class Diagram">

<h2 id="toc_exclude">Revision History</h2>
<h3 id="toc_exclude">Version 1.0 - 10/16/2017</h3>

<p>Authors: Sumeet Jhand, Shuaib Reeyaz, Troy Nechanicky, Amardeep Sarang, Sarah Johnston</p>
<p>SQA: Harold Hodgins</p>
<style>
	img 
	{
		width: 1100px;
	}
</style>

{% endblock %}