<html>
	<head>
		<title>Wrapper - Analysis</title>
	</head>
	<body>
		<h1>Brightspace API Python Wrapper - Analysis</h1>
		<p>Version 1.0</p>
		<p>Last updated: October x, 2017</p>

		<div id="toc">
			<h2>Table of Contents</h2>
		</div>

		<h2>Introduction</h2>
		<p>
			[Purpose of this document and brief, brief description of ezMarker]
		</p>

		<h2>Object Classification</h2>
		<h3>Objects Diagram</h3>
		<img class="prototype-img" src="/static/img/objects_diagram_analysis_wrapper.png" />

		<h3>Entity Objects</h3>
		<ul>
			<li>Host - Stores host information from config file.</li>
			<li>Credentials - Stores user credentials </li>
			<li>User - Stores user information</li>
			<li>Course - Stores information about a course.</li>
			<li>Student - Stores information about a student.</li>
			<li>Grade Item - Stores information about a grade item. Abstract Class. Implimented by specific grade item type</li>
			<li>Numeric Grade Item </li>
			<li>Grade - Stores information about a specific grade. Abstract Class. Implimented by specific grade type</li>
			<li>Numeric Grade - Stores information about a numeric grade </li>
		</ul>

		<h3>Boundary Objects</h3>
		<p>Wrapper doesn't have any boundary objects specifically. Calling appication is the boundary object(s).</p>

		<h3>Control Objects</h3>
		<ul>
			<li> API - Interacts with Brightspace server</li>
		</ul>

		<h2>Class Diagram</h2>
		<img src="/static/img/wrapper_analysis_class_diagram.jpg">

		<h2 id="toc_exclude">Revision History</h2>
		<h3 id="toc_exclude">Version 1.0 - 10/0x/2017</h3>

		<p>Authors: </p>
		<p>SQA: </p>
	
	</body>
</html>
<style>
	img {
		width: 800px;
	}

</style>

