{% extends "index.html" %}

{% block title %}
	<title>ezMarker | Select Grade Item</title>
{% endblock %}

{% block content %}
	<h2>Select a Grade Item</h2>
	{% for course in user.get_courses() %}
		<button class="accordion">{{course.get_name()}}</button>

		{% if course.get_grade_items() != [] %}
		<div class="panel">
			{% for grade_item in course.get_grade_items() %}
			<a class="grade-link" href="{{ '/grades/{}/{}'.format(course.get_id(),grade_item.get_id())}}">{{ grade_item.get_name() }}</a>
			{% endfor %}
		</div>

		{% endif %}

	{% endfor %}
{% endblock %}
