{% extends "index.html" %}

{% block title %}
	<title>ezMarker | Select Grade Item</title>
{% endblock %}

{% block content %}
	{% if user.get_courses() != [] %}
		<h2>Select a Grade Item</h2>
        {% for course in user.get_courses() %}
		<button class="accordion">{{course.get_name()}}</button>
        <div class="panel">
            {% if course.get_grade_items() != [] %}
                {% for grade_item in course.get_grade_items() %}
                    <a class="grade-link" href="{{ '/upload?courseId={}&gradeItemId={}'.format(course.get_id(),grade_item.get_id())}}">{{ grade_item.get_name() }}</a>
                {% endfor %}
            {% else %}
                <p>No grade items for this course.</p>
            {% endif %}
        </div>
		{% endfor %}
	{% else %}
		<a>You do not have permission to set grades for any courses</a>
	{% endif %}
{% endblock %}
{% block scripts %}
    <script type="text/javascript" src="/static/js/accordion.js"></script>
{% endblock %}












