{% extends "index.html" %}

{% block title %}
	<title>ezMarker | Select Grade Item</title>
{% endblock %}

{% block content %}
    
    <div id="available-courses"></div>
	
	
	
<!--Loading animation-->
<div class="loader-box hidden">
	<div class="loader-msg">Getting Available Courses</div>
	<div class="loader"></div> 
</div>
<!-- Template HTML -->
<div class="templates">
	<button class="accordion accordion-template hidden"></button>
	<div class="panel panel-template hidden"></div>
</div>
{% endblock %}
{% block scripts %}
    <script type="text/javascript" src="/static/js/accordion.js"></script>
    <script type="text/javascript" src="/static/js/python_courses.js"></script>
{% endblock %}
