<html>

<head>
    <title>ezMarker - Design</title>
</head>

<body>
    <script src="../static/js/toc_generator.js"></script>
    <h1>ezMarker - Design</h1>
    <p>Version 2.0</p>
    <p>Last updated: November 1, 2017</p>

    <div id="toc">
        <h2>Table of Contents</h2>
    </div>

    <h2>Introduction</h2>
    <p>
        ezMarker is a web application that allows instructors at Wilfrid Laurier University to bulk upload grades and feedback into MyLearningSpace, with the integration of the Brightspace API supported by D2L. The goal of ezMarker is to solve the issues regarding inefficient manual grade uploading through the current MyLearningSpace interface. On average, it can take markers a few hours to manually upload grades for one class. Marking time is cut down to minutes with the use of ezMarker's bulk file uploading.</p>
    <p>This documement describes the packages, front-end, back-end, and project structure of ezMarker.</p>

    <h2>Packages</h2>
    <p>There are PHP and Python versions of ezMarker. Both versions use corresponding versions of the Brightspace API Wrapper. The differences between the PHP and Python versions of ezMarker are described in the following two sections.</p>

    <h3>PHP</h3>

    <p>
        <a href="http://php.net/manual/en/intro-whatis.php">PHP </a>(Hypertext Preprocessor) is a server-side scripting langauge. It is used for ezMarker's PHP version. For this project, an <a href="https://aws.amazon.com/">AWS</a> (Amazon Web Services) Ubuntu server hosts the PHP website. Ubuntu supports <a href="https://www.apache.org/">Apache</a>, an open-source HTTP Server that can serve web applications with backends such as PHP.
    </p>
	<p>
		PHP is being used as the language for one of the ezMarker versions at the request of the client. This is a good choice for the backend because the project is simple to host
		on Apache, the Brightspace API has PHP support, and it is not a steep learning curve for the members of the group that do not have previous knowledge of PHP. There is minimal cost for hosting the PHP web application, and no cost to use the language PHP. 
	</p>
    <h3>Python</h3>
    <p>
        <a href="https://www.python.org/">Python</a> is the scripting language being used for ezMarker's Python version. <a href="http://flask.pocoo.org/">Flask</a>, a Python microframework with a built-in development server and debugger, is used to make this web application. To host the Python project, <a href="https://dashboard.heroku.com/apps">Herokuapp</a> is used because of its support for Flask Apps.
    </p>
	<p>
		Python is being used as the language for the other version of ezMarker at the request of the client. This is also a good choice for backend because the project was already 
		started in this language by Harold Hodgins, the Brightspace API has some Python support, and many group members already have Python experience. There is currently no cost to host the Python web application, and no cost to use the language Python. 
	</p>

    <h3>Package Diagram</h3>

    <img class="prototype-img" src="../static/img/Packages.png">

    <h2>User Interface Design</h2>
    <p>This section describes the front-end of ezMarker. See <a href="#JSON">JSON Specifications</a> for the design of the JSON objects.</p>

    <b>Additional Notes:</b>
    <ul>
        <li>User will be redirected back to login if they are missing credentials at any point</li>
        <li>User will be notified if they do not have permission to carry out their requested action</li>
    </ul>

    <h3>Login Page</h3>
    <p>Brightspace takes care of generating the page and handling input.</p>
    <h3>Course List Page(User JSON)</h3>
    <p> This page has the list of courses and grade items the user has access to modify.</p>

    <b>Additional Notes:</b>
    <ul>
        <li>The user will be notified if they do not have permission to set grades for any courses.</li>
    </ul>

    <img class="prototype-img" src="../static/img/course_list.png" />
    <table border="1">
        <col width="200">
        <col width="200">
        <col width="400">
        <tr>
            <th align="left">Field</th>
            <th align="left">Type</th>
            <th align="left">Description</th>
        </tr>
        <tr>
            <td>Course</td>
            <td>Accordion</td>
            <td>After clicking the course, it shows the available grade items to be modified by the user</td>
        </tr>
        <tr>
            <td>Logout</td>
            <td>Button</td>
            <td>Redirects to Logout screen</td>
        </tr>
        <tr>
            <td>Courses</td>
            <td>Hyperlink</td>
            <td>Redirects user to select a grade item page</td>
        </tr>
        <tr>
            <td>Grade Item</td>
            <td>Hyperlink</td>
            <td>Redirects user to upload grade page for the grade item</td>
        </tr>
        <tr>
            <td>Help</td>
            <td>Hyperlink</td>
            <td>Shows pop up window of how to use ezMarker</td>
        </tr>
    </table>
    <h3>Upload Grade Page(User JSON)</h3>
    <img class="prototype-img" src="../static/img/upload_grade.png">
    <table border="1">
        <col width="200">
        <col width="200">
        <col width="400">
        <tr>
            <th align="left">Field</th>
            <th align="left">Type</th>
            <th align="left">Description</th>
        </tr>
        <tr>
            <td>Update Maximum Button</td>
            <td>Button</td>
            <td>Updates grade item maximum value</a>
            </td>
        </tr>
        <tr>
            <td>Choose File Button</td>
            <td>Button</td>
            <td>File dialog opens, allowing user to choose a <a href="http://ezmarker.herokuapp.com/documentation/requirements#1.3%20Definitions">Grade File</a></td>
        </tr>
        <tr>
            <td>Delete Button (X)</td>
            <td>Button</td>
            <td>Deletes the student entry it refers to</td>
        </tr>
        <tr>
            <td>Upload Grade File Button</td>
            <td>Button</td>
            <td>Updates marks and feedback for students using a Grade File</td>
        </tr>
        <tr>
            <td>Upload Grades Button</td>
            <td>Button</td>
            <td>Updates students' grades for the Grade Item. List of students and grades is created. See the Program Flow diagram in section 4 for the functions the UI calls for this action. The Error Handling Modal is launched if there are user input errors (see the following section). </td>
        </tr>
        <tr>
            <td>Select-all Check Box</td>
            <td>Check Box</td>
            <td>Populates the page with manual input sections for every student in that course</td>
        </tr>
        <tr>
            <td>Search Input Field</td>
            <td>Text Field</td>
            <td>
                Dynamic search that changes its dropdown list of candidates everytime user types. Searches by student name when user enters a letter first, otherwise searches by student ID. Users can only search students that are enrolled in the course
            </td>
        </tr>
        <tr>
            <td>Grade Field</td>
            <td>Text Field</td>
            <td>Allows user to manually input a student's grade</td>
        </tr>
        <tr>
            <td>Comment Field</td>
            <td>Text Field</td>
            <td>Allows user to manually input a student's feedback</td>
        </tr>
        <tr>
            <td>Update Maximum Text Field</td>
            <td>Text Field</td>
            <td>Allows user to enter a numeric value for updating the maximum value</td>
        </tr>
    </table>
    <h3>Error Handling Modal</h3>
    <p>Appears if there are errors with user input.</p>
    <img class="prototype-img" src="../static/img/error_model.png" />
    <table border="1">
        <col width="200">
        <col width="200">
        <col width="400">
        <tr>
            <th align="left">Field</th>
            <th align="left">Type</th>
            <th align="left">Description</th>
        </tr>
        <tr>
            <td>Close Button (X)</td>
            <td>Button</td>
            <td>Closes pop-up window</td>
        </tr>
        <tr>
            <td>Re-upload Button</td>
            <td>Button</td>
            <td>Updates grade and feedbacks of each student listed above</td>
        </tr>
        <tr>
            <td>Cancel Upload Button</td>
            <td>Button</td>
            <td>Cancels upload</td>
        </tr>
        <tr>
            <td>Update Maximum Button</td>
            <td>Button</td>
            <td>Changes the total maximum mark of that grade item</td>
        </tr>
        <tr>
            <td>Grade Field</td>
            <td>Text Field</td>
            <td>Allows user to manually input a student's grade</td>
        </tr>
        <tr>
            <td>Comment Field</td>
            <td>Text Field</td>
            <td>Allows user to manually input a student's feedback</td>
        </tr>
        <tr>
            <td>Update Maximum Text Field</td>
            <td>Text Field</td>
            <td>Allows user to enter a numeric value for updating the maximum value</td>
        </tr>
    </table>
    <h3>Report Page(Grades JSON, Grade Error JSON)</h3>

    <p>Reports which students' grades that are set successfully and not successfully</p>

    <img class="prototype-img" src="../static/img/report_page.png" height:auto width:auto />

    <h3>Logout Page</h3>
    <p>Brightspace generates logout page and handles logout.</p>

    <h2>Program Flow</h2>

    <img class="prototype-img" src="../static/img/Flow_Diagram.png" />

    <h2>Detailed Design</h2>

    <p>This section describes the back-end implementation of ezMarker.</p>

    <h3>Functions</h3>

    <p>This section gives a high-level description of the back-end functions.</p>

    <h4>login()</h4>
    <ol>
        <li>Redirects user to Brightspace login page</li>
        <li>Creates user object</li>
        <li>Sorts course list in ascending order by course name</li>
        <li>Redirects to Available Courses page, passing JSON containing User information (including all attributes of User)</li>
    </ol>

    <h4>logout()</h4>
    <ol>
        <li>Redirects user to Brightspace logout page</li>
        <li>User has to return to ezMarker root in order to login again</li>
    </ol>

    <h4> modify_grade_max(grade_item_id, max)</h4>
    <ol>
        <li>Checks that max is greater than or equal to 0</li>
        <li>If valid, grade item total is updated</li>
    </ol>

    <h4>set_grades(Grades JSON, grade_item_id)</h4>
    <ol>
        <li>Assumes that error checking has already been done</li>
        <li>Creates grade objects from JSON</li>
        <li>Uploads grades</li>
        <li>Tracks exceptions from Brightspace API wrapper in JSON</li>
        <li>Remove grades from grade list and students and grades JSON that caused exception</li>
        <li>Redirects to Report page, passes JSON of grades and students, JSON of errors/warnings (if applicable)</li>
    </ol>

    <h4>parse_file()</h4>
    <ol>
        <li>Parses uploaded file</li>
        <li>Creates and returns JSON with student and grade information</li>
    </ol>

    <h4>error_checking(Grades JSON, grade_item_id)</h4>
    <ol>
        <li>Checks grade values in JSON</li>
        <li>If grade value > max grade, add item to JSON warning list specifying grade, student, and msg</li>
        <li>If grade value &lt 0, add item to JSON error list specifying grade, student, and msg</li>
        <li>If student not in course, add item to JSON error list specifying grade, student, and msg</li>
        <li>Return JSON if applicable</li>
    </ol>

    <h3 id="JSON">JSON Specifications</h3>
    <p>The design of the JSON objects that ezMarker creates.</p>

    <h4>User JSON (used in <i>login</i> controller, <i>Available Courses</i> and <i>Grade Item</i> pages)</h4>
	<p>{ name: String, id: int, org_id: int, role: int, courses: [ Array of Course objects] }</p>

    <h4>Grades JSON (used in <i>parse_grade</i> function and <i>set_grades</i> controller, <i>Grade Item</i> and <i>Report</i> pages)</h4>
	<p> { grades: [ { org_member_id: int, id: int, value: float, max_points: float } ] }</p>

    <h4>Grade Error JSON (used in <i>error_checking</i> function and <i>set_grades</i> controller, <i>Grade Item</i> and <i>Report</i> pages)</h4>
	<p>{ errors: [ { id: String, msg: String } ] }</p>
	<p>{ 'errors': [ { 'id': '12345', 'msg': 'Grade item can not be negative' }, { 'id': '45678', 'msg': 'No grade entered' } ] }</p>
	<p> 
		When this JSON is returned to the frontend from the controller, it is the frontend's responsibility to display 'msg' above the appropriate input for 
		the student with 'id'. The error messages are for used to inform the user of parsing errors. They are prompted to fix these errors and re-submit their 
		grades to upload. 
	</p>

    <h3>HTTP Status Codes</h3>

    <p>All functions need to return one of the following status codes.</p>

    <h4>Sucess Codes</h4>
    <p>200 - OK</p>

    <h4>Error Codes</h4>
    <p>400 - Bad Request</p>
    <p>403 - Forbidden</p>
    <p>404 - Not Found</p>

    <h3>Grade File Format</h3>
    <p>The grade file is a csv with the format <b>student_name</b>, <b>brightspace_id</b>, <b>grade</b>, <b>comment</b></p>

    <h2>Project Structure</h2>
    <h3>Python Structure</h3>
    <ul id="file-structure">
        <li>app.py</li>
        <li>/templates</li>
        <ul id="file-structure">
            <li>index.html</li>
            <li>upload.html</li>
            <li>available_grades.html</li>
            <li>grades_uploaded.html</li>
        </ul>
        <li>/static</li>
        <ul id="file-structure">
            <li>/js</li>
            <li>/img</li>
            <li>/css</li>
            <ul id="file-structure">
                <li>elements.css</li>
                <li>forms.css</li>
                <li>home.css</li>
                <li>nav.css</li>
                <li>tables.css</li>
                <li>page_content.css</li>
                <li>typography.css</li>
            </ul>
        </ul>
    </ul>
    <h3>PHP Structure</h3>
    <ul id="file-structure">
        <li>/wrapper</li>
        <ul id="file-structure">
            <li>/obj</li>
        </ul>
        <li>/root</li>
        <ul id="file-structure">
            <li>index.php</li>
        </ul>
        <li>/views</li>
        <ul id="file-structure">
            <li>index.php</li>
            <li>upload.php</li>
            <li>available_grades.php</li>
            <li>grades_uploaded.php</li>
        </ul>
        <li>/static</li>
        <ul id="file-structure">
            <li>/js</li>
            <li>/img</li>
            <li>/css</li>
            <ul id="file-structure">
                <li>elements.css</li>
                <li>forms.css</li>
                <li>home.css</li>
                <li>nav.css</li>
                <li>tables.css</li>
                <li>page_content.css</li>
                <li>typography.css</li>
            </ul>
        </ul>
    </ul>

    <h2 id="toc_exclude">Revision History</h2>
    <h3 id="toc_exclude">Version 1.0 - 10/23/2017</h3>
    <p>Authors: Sarah Johnston, Xiang Ke, Weibin Ma, Troy Nechanicky, Michelle Wong, Hind Althabi</p>
    <p>SQA: Zac Macdonald, Pirajeev Prabaharan</p>
    <h3 id="toc_exclude">Version 2.0 - 11/01/2017</h3>
    <p>- Revised UI design</p>
    <p>- Revised Project Flow diagram</p>
    <p>- Revised Project Structure</p>
    <p>- Revised function descriptions</p>
    <p>- Added HTTP Status Codes section</p>
    <p>- Added JSON Specifications section</p>
    <p>- Specified grade file format</p>
    <p>Authors: Sarah Johnston, Xiang Ke, Weibin Ma, Troy Nechanicky, Michelle Wong</p>
    <p>SQA: Troy Nechanicky</p>
</body>
<style>
    #file-structure {
        list-style: none;
    }

    img {
        width: 65%;
        margin: 20px 0px;

    }

</style>

</html>
