<html>
    
    <head>
        <title>ezMarker - Design</title>
    </head>
    
    <body>
        <script src="../static/js/toc_generator.js"></script>
        <h1>ezMarker - Design</h1>
        <p>Version 1.0</p>
        <p>Last updated: October 23, 2017</p>
        
        <div id="toc">
            <h2>Table of Contents</h2>
        </div>
        
        <h2>Introduction</h2>
        <p>
        ezMarker is a web application that allows markers to bulk set grades and feedback in a Brightspace environment. This document describes all of the design details needed to implement ezMarker.
        </p>
        
        <h2>Packages - Hind</h2>
        <p>ezMarker use <a href="https://www.d2l.com/products/learning-environment/" target="_blank">Brightspace</a> wrapper, and it has two backend versions, which are <a href="http://php.net/manual/en/intro-whatis.php" target="_blank">PHP </a> and <a href="https://www.python.org/" target="_blank">Python</a>.</p>
            
            <h3>PHP</h3>
            
            <p>
            
            <a href="http://php.net/manual/en/intro-whatis.php">PHP </a>(Hypertext Preprocessor) is a server-side scripting langauge, meaning it is executed by the server. It is used for the backend in the PHP version of ezMarker. For this project, an <a href="https://aws.amazon.com/">AWS</a> (Amazon Web Services) Ubuntu server is being used to host the PHP website. Ubuntu supports <a href="https://www.apache.org/">Apache</a> which is an open-source HTTP Server that can serve websites such as those with a PHP backend.
            
            </p>
            <h3>Python</h3>
            <p>
            <a href="https://www.python.org/">Python</a> is the scripting language that is being used to make the backend for the Python version of ezMarker. <a href="http://flask.pocoo.org/">Flask</a>, a Python microframework with a built-in development server and debugger, is being used to make this web application. To host the Python project, <a href="https://dashboard.heroku.com/apps">Herokuapp</a> app will be used because of its support for Flask Apps.
            
            </p>
            
            <img class="prototype-img" src="../static/img/Packages.png">
        
           
            

            
            <h2>Program Flow - Troy/TBD</h2>
            <p>[diagram showing flow of program]</p>
            
            <h2>User Interface Design - Xiang Ke</h2>
            <h3>Login Page</h3>
            <p>The login page is the BrightSpace page shown below. Brightspace takes care of generating the page and handling input.</p>
            <img class="prototype-img" src="/static/img/MyBrightSpace.png" />
            <h3>Course List Page</h3>
            <p> This page has the list of courses and grade items the user has access to modify.</p>
            <img class="prototype-img" src="/static/img/courses.png" />
            <table border="1">
                <col width="200">
                    <col width="200">
                        <col width="400">
                            <tr>
                                <th align="left">Field</th>
                                <th align="left">Type</th>
                                <th align="left">Description</th>
                            </tr>
                            <tr>
                                <td>Each Course</td>
                                <td>Collapsible</td>
                                <td>After a particular course is clicked, it shows the details of the grade items available to be modified by the user</td>
                            </tr>
                            <tr>
                                <td>Grade Item</td>
                                <td>Hyperlink</td>
                                <td>Enters upload grade page for that particular item</td>
                            </tr>
                            </table>
            <h3>Upload Grade Page</h3>
            <img class="prototype-img" src="/static/img/automated_upload.png" />
            <img class="prototype-img" src="/static/img/manual_inputs.png" />
            <table border="1">
                <col width="200">
                    <col width="200">
                        <col width="400">
                            <tr>
                                <th align="left">Field</th>
                                <th align="left">Type</th>
                                <th align="left">Description</th>
                            </tr>
                            <tr>
                                <td>Browse Button</td>
                                <td>Button</td>
                                <td>Allows user to choose a grade file in txt format from a file dialog box</td>
                            </tr>
                            <tr>
                                <td>Upload Grade Button</td>
                                <td>Button</td>
                                <td>Updates marks and feedback for students using the Grade File</td>
                            </tr>
                            <tr>
                                <td>Search Input Field</td>
                                <td>Input Field</td>
                                <td>User can enter student name or ID</td>
                            </tr>
                            <tr>
                                <td>Search Button</td>
                                <td>Button</td>
                                <td>Look for student in database. If they exist the student is appended to the list of students to manually set grades for</td>
                            </tr>
                            <tr>
                                <td>Select All Check Box</td>
                                <td>Check Box</td>
                                <td>Quickly adds all of the students in the course</td>
                            </tr>
                            <tr>
                                <td>Delete Button</td>
                                <td>Button</td>
                                <td>Delete this particular student entry</td>
                            </tr>
                            <tr>
                                <td>Grade Field</td>
                                <td>Input Field</td>
                                <td>Input for student's grade</td>
                            </tr>
                            <tr>
                                <td>Comment Field</td>
                                <td>Input Field</td>
                                <td>Input for feedback for student</td>
                            </tr>
                            </table>
            <h3>Popup Window: Change Grade Item Total</h3>
            <img class="prototype-img" src="/static/img/change_grades.png" />
            <table border="1">
                <col width="200">
                    <col width="200">
                        <col width="400">
                            <tr>
                                <th align="left">Field</th>
                                <th align="left">Type</th>
                                <th align="left">Description</th>
                            </tr>
                            <tr>
                                <td>Update Mark Text Field</td>
                                <td>Text Field</td>
                                <td>Accepts a numeric user input</td>
                            </tr>
                            <tr>
                                <td>Update Total Button</td>
                                <td>Button</td>
                                <td>Changes the total maximum mark to the number in the text field</td>
                            </tr>
                            <tr>
                                <td>Cancel Button</td>
                                <td>Button</td>
                                <td>Closes popup window</td>
                            </tr>
                            </table>
            <h3>Report Page</h3>
            <img class="prototype-img" src="/static/img/report_page.png" />
            <table border="1">
                <col width="200">
                    <col width="200">
                        <col width="400">
                            <tr>
                                <th align="left">Field</th>
                                <th align="left">Type</th>
                                <th align="left">Description</th>
                            </tr>
                            <tr>
                                <td>Upload More Grades</td>
                                <td>Button</td>
                                <td>Returns user to Course List Page</td>
                            </tr>
                            <tr>
                                <td>Check Grades Button</td>
                                <td>Button</td>
                                <td>Links to Brightspace Instance page with all of the grades for the current grade item</td>
                            </tr>
                            <tr>
                                <td>Logout Button</td>
                                <td>Button</td>
                                <td>Go to Logout Page</td>
                            </tr>
                            </table>
            <h3>Logout Page</h3>
            <p>Logout page for MyBrightSpace</p>
            
            <h2>Detailed Design</h2>
            <h3>Service Diagrams</h3>
            <h3>Services</h3>
            <h4>Service Details</h4>
            <p> This section describes the services and the steps required for input to output using high level pseudocode. 
                    This pseudocode can be expanded on and translated into actual code at the implementation stage. 
                    
                    </p>
                    <p>login()</p>
                    <ol>
                        <li> User enters username and password</li>
                        <li> System checks if username and password are valid</li>
                        <li> If valid, assign authentication token, create a user object and redirect user to availableCourses page</li>
                        <li> If invalid, return error and redirect to login page </li>
                    </ol>
        
                    <p>logout()</p>
                    <ol>
                    <li>Redirects user to a static logout page when logout is pressed</li>
                    <li>Logout page is controlled by brightspace</li>
                    </ol>
        
                    <p>searchStudents(): Student</p>
                    <ol>
                        <li>Retrieve student information based off ID or name of student </li>
                        <li>If retrieval is null, return error  </li>
                    </ol>
                    
                    <p> modifyGradeTotal()</p>
                    <ol>
                    <li> User enters grade data for a specific item </li>
                    <li> If grade data is valid, set grade </li>
                    <li> Grade is valid if total grade is greater than or equal to the grade received </li>
                    <li> If grade is invalid, ie if received grade is greater than the total, the user is prompted to continue or modify the total of the grade item </li>                <li> If no grade value has been entered, user is prompted to go back to set a grade value, or to continue. </li>
                    <li>If continue, no grade is set for the student </li>
                    </ol> 
        
                    <p>setGradeFileData()</p>
                    <ol>
                        <li>User uploads a single file that contains both grades and feedback for any student the user wishes to mark</li>
                        <li>If file is not formatted correctly, returns error message</li>
                        <li>If parameters for grade are missing, grade is disregarded</li>
                        <li>If valid, system parses, validates and uploads student grades and updates the grades</li>
                    </ol>
            
            <h2>Project Structure</h2>
            
            <h3>Python Structure</h3>
            <ul id="file-structure">
                <li>/static</li>
                <li>/js</li>
                <li>/css</li>
                <li>/templates</li>
                <ul id="file-structure">
                    <li>index.html</li>
                    <li>home.html</li>
                    <li>available_grades.html</li>
                    <li>upload.html</li>
                    <li>update_grade_item.html</li>
                    <li>report.html</li>
                </ul>
            </ul>
            <h3>PHP Structure</h3>
            <ul id="file-structure">
                <li>/static</li>
                <li>/js</li>
                <li>/css</li>
                <li>/templates</li>
                <ul id="file-structure">
                    <li>index.php</li>
                    <li>home.php</li>
                    <li>available_grades.php</li>
                    <li>upload.php</li>
                    <li>update_grade_item.php</li>
                    <li>report.php</li>
                </ul>
            </ul>
            
            
            <h2 id="toc_exclude">Revision History</h2>
            <h3 id="toc_exclude">Version 1.0 - 10/16/2017</h3>
            <p>Authors: </p>
            <p>SQA: </p>
    </body>
    <style>
        #file-structure {
            list-style: none;
        }
    </style>
    <style>
        img {
            width: 800px;
        }
    </style>
    
</html>