<html>

<head>
    <title>Brightspace API Wrapper - Design</title>
</head>

<body>
    <script src="../static/js/toc_generator.js"></script>
    <h1>Brightspace API Python Wrapper - Design</h1>
    <p>Version 1.0</p>
    <p>Last updated: October 23, 2017</p>

    <div id="toc">
        <h2>Table of Contents</h2>
    </div>

    <h2>Introduction</h2>
    <p>
        The Brightspace API Wrapper is a library used to make calls to the Brightspace API. It allows developers to fetch and push information through the API in a friendly manner. Rather than directly making HTTP requests, developers can simply use the functions available in the wrapper's library. This wrapper is being developed primarily for ezMarker, a web application for uploading grades and feedback to a Brightspace environment. PHP and Python versions of the wrapper are being developed to support the corresponding versions of ezMarker.
    </p>
    <p>This document describes the design of the wrapper's classes and functions, along with providing helpful reference information.</p>

    <h2>Class Design</h2>
    <img src="../../static/img/wrapper_design_class_diagram.jpg">

    <h2>API Functions</h2>
    <h3>Diagram</h3>
    <img src="../../static/img/wrapper_design_api_file.jpg">

    <h3>API Reference</h3>
    <ul>
        <li>get_api_versions: Implements GET <a href="http://docs.valence.desire2learn.com/res/apiprop.html#get--d2l-api-versions-" target="_blank">/d2l/api/versions/</a></li>
        <li>get_who_am_i: Implements GET <a href="http://docs.valence.desire2learn.com/res/user.html#get--d2l-api-lp-(version)-users-whoami" target="_blank">/d2l/api/lp/(version)/users/whoami</a></li>
        <li>put_grade: Implements PUT <a href="http://docs.valence.desire2learn.com/res/grade.html#put--d2l-api-le-(version)-(orgUnitId)-grades-(gradeObjectId)-values-(userId)" target="_blank">/d2l/api/le/(version)/(orgUnitId)/grades/(gradeObjectId)/values/(userId)</a></li>
        <li>get_course_members: Implements GET <a href="http://docs.valence.desire2learn.com/res/enroll.html#get--d2l-api-lp-(version)-enrollments-orgUnits-(orgUnitId)-users-" target="_blank">/d2l/api/lp/(version)/enrollments/orgUnits/(orgUnitId)/users/</a></li>
        <li>get_user_enrollments: Implements GET <a href="http://docs.valence.desire2learn.com/res/enroll.html#get--d2l-api-lp-(version)-enrollments-myenrollments-" target="_blank">/d2l/api/lp/(version)/enrollments/myenrollments/</a></li>
        <li>get_user_enrollment: Implements GET<a href="http://docs.valence.desire2learn.com/res/grade.html#get--d2l-api-le-(version)-(orgUnitId)-grades-" target="_blank">/d2l/api/le/(version)/(orgUnitId)/grades/</a></li>
        <li>get_grade_items: Implements GET<a href="http://docs.valence.desire2learn.com/res/grade.html#get--d2l-api-le-(version)-(orgUnitId)-grades-" target="_blank">/d2l/api/le/(version)/(orgUnitId)/grades/</a></li>
        <li>put_grade_item: Implements PUT <a href="http://docs.valence.desire2learn.com/res/grade.html#put--d2l-api-le-(version)-(orgUnitId)-grades-(gradeObjectId)" target="_blank">/d2l/api/le/(version)/(orgUnitId)/grades/(gradeObjectId)</a></li>
    </ul>

    <h4>Python Specific</h4>
    <ul>
        <li>Uses <a href="http://docs.python-requests.org/en/latest/" target="_blank">Requests</a> library</li>
        <li>Brightspace example code: <a href="https://github.com/Brightspace/sample-valence-general-python" target="_blank">https://github.com/Brightspace/sample-valence-general-python</a></li>
    </ul>

    <h4>PHP Specific</h4>

    <h2 id="toc_exclude">Revision History</h2>
    <h3 id="toc_exclude">Version 1.0 - 10/23/2017</h3>

    <p>Authors: Troy Nechanicky</p>
    <p>SQA: Harold Hodgins, Yi Ling Pang</p>
</body>

</html>
