<html>

<head>
    <title>ezMarker - Design</title>
</head>

<body>
    <script src="../static/js/toc_generator.js"></script>
    <h1>ezMarker - Design</h1>
    <p>Version 1.0</p>
    <p>Last updated: October 23, 2017</p>

    <div id="toc">
        <h2>Table of Contents</h2>
    </div>

    <h2>Introduction</h2>
    <p>
        ezMarker is a web application that allows instructors at Wilfrid Laurier University to bulk upload grades and feedback into MyLearningSpace, with the integration of the Brightspace API supported by D2L. The goal of ezMarker is to solve the issues regarding inefficient manual grade uploading through the current MyLearningSpace interface. On average, it can take markers a few hours to manually upload grades for one class. Marking time is cut down to minutes with the use of ezMarker's bulk file uploading.</p>
    <p>This documement describes the packages, front-end, back-end, and project structure of ezMarker.</p>

    <h2>Packages</h2>
    <p>There are PHP and Python versions of ezMarker. Both versions use corresponding versions of the Brightspace API Wrapper. The differences between the PHP and Python versions of ezMarker are described in the following two sections.</p>

    <h3>PHP</h3>

    <p>

        <a href="http://php.net/manual/en/intro-whatis.php">PHP </a>(Hypertext Preprocessor) is a server-side scripting langauge, meaning it is executed by the server. It is used for ezMarker's PHP version. For this project, an <a href="https://aws.amazon.com/">AWS</a> (Amazon Web Services) Ubuntu server hosts the PHP website. Ubuntu supports <a href="https://www.apache.org/">Apache</a>, an open-source HTTP Server that can serve websites with a PHP backend.

    </p>
    <h3>Python</h3>
    <p>
        <a href="https://www.python.org/">Python</a> is the scripting language being used for ezMarker's Python version. <a href="http://flask.pocoo.org/">Flask</a>, a Python microframework with a built-in development server and debugger, is used to make this web application. To host the Python project, <a href="https://dashboard.heroku.com/apps">Herokuapp</a> is used because of its support for Flask Apps.

    </p>

    <h3>Package Diagram</h3>

    <img class="prototype-img" src="../static/img/Packages.png">

    <h2>User Interface Design</h2>
    <h3>Login Page</h3>
    <p>Brightspace takes care of generating the page and handling input.</p>
    <h3>Course List Page</h3>
    <p> This page has the list of courses and grade items the user has access to modify.</p>
    <img class="prototype-img" src="../static/img/course_list.png" />
    <table border="1">
        <col width="200">
        <col width="200">
        <col width="400">
        <tr>
            <th align="left">Field</th>
            <th align="left">Type</th>
            <th align="left">Description</th>
        </tr>
        <tr>
            <td>Course</td>
            <td>Accordion</td>
            <td>After clicking the course, it shows the available grade items to be modified by the user</td>
        </tr>
        <tr>
            <td>Grade Item</td>
            <td>Hyperlink</td>
            <td>Redirects user to upload grade page for the grade item</td>
        </tr>
    </table>
    <h3>Upload Grade Page</h3>
    <img class="prototype-img" src="../static/img/upload_grade.png">
    <table border="1">
        <col width="200">
        <col width="200">
        <col width="400">
        <tr>
            <th align="left">Field</th>
            <th align="left">Type</th>
            <th align="left">Description</th>
        </tr>
        <tr>
            <td>Change Grade Item Total Button</td>
            <td>Button</td>
            <td>Opens pop up window (see next subsection)</td>
        </tr>
        <tr>
            <td>Choose File Button</td>
            <td>Button</td>
            <td>File dialog opens, allowing user to choose a <a href="http://ezmarker.herokuapp.com/documentation/requirements#1.3%20Definitions">Grade File</a></td>
        </tr>
        <tr>
            <td>Delete Button (X)</td>
            <td>Button</td>
            <td>Deletes the student entry it refers to</td>
        </tr>
        <tr>
            <td>Upload Grade File Button</td>
            <td>Button</td>
            <td>Updates marks and feedback for students using a Grade File</td>
        </tr>
        <tr>
            <td>Upload Grades Button</td>
            <td>Button</td>
            <td>Updates students' grades for the Grade Item. List of students and grades is created. Prompts user to update grade item total when grade value > grade item total. Prompts user to cancel operation and set a different value if grade input field is empty or contains non-numerical input</td>
        </tr>
        <tr>
            <td>Select-all Check Box</td>
            <td>Check Box</td>
            <td>Populates the page with manual input sections for every student in that course</td>
        </tr>
        <tr>
            <td>Search Input Field</td>
            <td>Input Field</td>
            <td>	
				Dynamic search that changes its dropdown list of candidates everytime user types. Searches by student name when user enters a letter first, otherwise searches by student ID. User can only add a student who exists in the database
			</td>
        </tr>
        <tr>
            <td>Grade Field</td>
            <td>Input Field</td>
            <td>Allows user to manually input a student's grade, checks if user enters a value that is less than or equal to maximum grade value</td>
        </tr>
        <tr>
            <td>Comment Field</td>
            <td>Input Field</td>
            <td>Allows user to manually input a student's feedback</td>
        </tr>
    </table>
    <h3>Change Grade Item Total (Pop-up Window)</h3>
    <p>Pops up when Change Grade Item Total Button (From previous subsection) is clicked.</p>
    <img class="prototype-img" src="../static/img/change_total_grade.png" />
    <table border="1">
        <col width="200">
        <col width="200">
        <col width="400">
        <tr>
            <th align="left">Field</th>
            <th align="left">Type</th>
            <th align="left">Description</th>
        </tr>
        <tr>
            <td>Close Button</td>
            <td>Button</td>
            <td>Closes pop-up window</td>
        </tr>
        <tr>
            <td>Update Total Button</td>
            <td>Button</td>
            <td>Changes the total maximum mark of that grade item</td>
        </tr>
        <tr>
            <td>Update Mark Text Field</td>
            <td>Text Field</td>
            <td>Allows user to enter a numeric value</td>
        </tr>
    </table>
    <h3>Report Page</h3>
    
    <p>Reports which students' grades were not set successfully.</p>
    
    <img class="prototype-img" src="../static/img/report_page.png" height:auto width:auto />
    <table border="1">
        <col width="200">
        <col width="200">
        <col width="400">
        <tr>
            <th align="left">Field</th>
            <th align="left">Type</th>
            <th align="left">Description</th>
        </tr>
        <tr>
            <td>Check Grades Button</td>
            <td>Button</td>
            <td>Links to Brightspace page with all of students' grades for the current grade item</td>
        </tr>
        <tr>
            <td>Logout Button</td>
            <td>Button</td>
            <td>Go to Logout Page</td>
        </tr>
        <tr>
            <td>Upload More Grades</td>
            <td>Button</td>
            <td>Returns user to Course List Page</td>
        </tr>
    </table>
    <h3>Logout Page</h3>
    <p>Brightspace generates logout page and handles logout.</p>

    <h2>Program Flow</h2>

    <img class="prototype-img" src="../static/img/Flow_Diagram.png" />

    <h2>Detailed Design</h2>

    <p> This section describes the back-end controllers and functions.

        <h3>login()</h3>
        <ol>
            <li>Redirects user to Brightspace login page</li>
            <li>Creates user object</li>
            <li>Sorts course list in ascending order by course name</li>
            <li>Redirects to Available Courses page</li>
        </ol>

        <h3>logout()</h3>
        <ol>
            <li>Redirects user to Brightspace logout page</li>
            <li>User has to return to ezMarker root in order to login again</li>
        </ol>

        <h3> modify_grade_total(GradeItem, total)</h3>
        <ol>
            <li>Grade must be greater or equal to 0</li>
            <li>Grade item total is updated</li>
        </ol>

        <h3>set_grades_manual_data(grades[student, value], GradeItem)</h3>
        <ol>
            <li>Creates JSON object and sends to error_checking</li>
            <li>If error_checking succeeds, creates grade object</li>
            <li>Sets grades</li>
            <li>Redirects user to Report page</li>
        </ol>

        <h3>parse_file(file)</h3>
        <ol>
            <li>Parses users uploaded file</li>
            <li>Create JSON Object and sends to error_checking</li>
            <li>If error_checking succeeds, creates grade object for valid grades</li>
            <li>redirects to user report page</li>
        </ol>

        <h3>error_checking(JSON Object)</h3>
        <ol>
            <li>Does not set grades with missing parameters</li>
            <li>Keeps tracks of grades that were not set or have errors in</li>
            <li>If passes error checking, return JSON object to the function that called error checking</li>
        </ol>

        <h2>Project Structure</h2>
        <ul id="file-structure">
			<li>app.py</li>
			<li>/templates</li>
				<ul id="file-structure">
					<li>index.html</li>
					<li>upload.html</li>
					<li>available_grades.html</li>
					<li>home.html</li>
					<li>report.html</li>
				</ul>
			<li>/static</li>
			<ul id="file-structure">
				<li>/js</li>
				<li>/img</li>
				<li>/css</li>
				<ul id="file-structure">
					<li>elements.css</li>
					<li>forms.css</li>
					<li>home.css</li>
					<li>nav.css</li>
					<li>page_content.css</li>
					<li>typography.css</li>
				</ul>
			</ul>
        </ul>
		* Note: PHP version will have .php extensions instead of .html and .py extensions

        <h2 id="toc_exclude">Revision History</h2>
        <h3 id="toc_exclude">Version 1.0 - 10/23/2017</h3>
        <p>Authors: Sarah Johnston, Xiang Ke, Weibin Ma, Troy Nechanicky, Michelle Wong, Hind Althabi</p>
        <p>SQA: Zac Macdonald, Pirajeev Prabaharan</p>
</body>
<style>
    #file-structure 
	{
        list-style: none;
    }
	img 
	{
		width: 50%;
		margin: 20px 0px;
		
	}
</style>

</html>
