<html>
	<head>
		<title>Wrapper - Design</title>
	</head>
	<body>
		<script src="../../../static/js/toc_generator.js"></script>
		<h1>Brightspace API Python Wrapper - Design</h1>
		<p>Version 1.0</p>
		<p>Last updated: October x, 2017</p>

		<div id="toc">
			<h2>Table of Contents</h2>
		</div>

		<h2>Introduction</h2>
		<p>
			The Brightspace API Wrapper is a library used to make calls to the Brightspace API, which supports the Python and PHP versions of ezMarker. The functions in the wrapper's library will be used rather than directly making HTTP requests. This will allow developers to fetch and push information through the API in a friendly manner. The wrapper is being developed primarily for ezMarker, which allows for uploading grades and feedback to a Brightspace environment. 


		</p>

		<h2>Technology - Troy/Harold</h2>
		<p>[mention PHP, Python versions, Brightspace API instructions]</p>

		<h2>Class Design</h2>
		<h3>Diagrams - Mohamed</h3>
		<p>[build from analysis class diagram. Need to add methods (include arguments and what is returned). Also need to add attribute type if not already described in analysis diagram.]</p>

		<h3>Detailed Description - Ben</h3>
		<p>[Describe methods (what purpose is, error handling, condition checks, request to use). still tbd in requirements document]</p>

		<h2>Project Structure</h2>
		<h3>Python Structure</h3>
		<ul id="file-structure">
			<li>API.py</li>
			<li>/static</li>
			<ul id="file-structure">
				<li>User.py</li>
				<li>Course.py</li>
				<li>GradeItem.py</li>
				<li>Grade.py</li>
			</ul>
		</ul>
		<h3>PHP Structure</h3>
		<ul id="file-structure">
			<li>API.php</li>
			<li>/static</li>
			<ul id="file-structure">
				<li>User.php</li>
				<li>Course.php</li>
				<li>GradeItem.php</li>
				<li>Grade.php</li>
			</ul>
		</ul>
		<h2 id="toc_exclude">Revision History</h2>
		<h3 id="toc_exclude">Version 1.0 - 10/x/2017</h3>

		<p>Authors: </p>
		<p>SQA: Yi Ling Pang</p>
	</body>
	<style>
		#file-structure 
		{
			list-style: none;
		}
	</style>
</html>