{% extends "index.html" %}

{% block title %}
	<title>ezMarking | Documentation</title>
{% endblock %}

{% block content %}
	<div class="center">
		<h1 class="page-title">Check Out the Docs</h1>
		<div class="btn-row">
			
			<a class="btn btn-xl" href="spmp">Software Planning</a><br>
			<a class="btn btn-xl" href="requirements">ezMarker Requirements</a><br>
			<a class="btn btn-xl" href="analysis">ezMarker Analysis</a><br>
			<a class="btn btn-xl" href="design">ezMarker Design</a><br>
			<a class="btn btn-xl" href="requirements/wrapper">Wrapper Requirements</a><br>
			<a class="btn btn-xl" href="analysis/wrapper">Wrapper Analysis</a><br>
			<a class="btn btn-xl" href="design/wrapper">Wrapper Design</a><br>
		</div>
	</div>
{% endblock %}
