<html>
<head>
    <title>Documentation Standards</title>
</head>

<body>
    <script src="../static/js/toc_generator.js"></script>
    <h1>Documentation Standards</h1>
    <p>Version 1.0</p>
    <p>Last updated: November 23, 2017</p>
    <h2>Title</h2>
<p>The title must have a large font size, preferably 24, throughout the documentation.
Documents should Include titles required by project tasks, found in the project outline in the CP317 website. It should be concise and understandable to everyone.</p>

<h2>Table of Contents</h2>
<p>The table of contents must include subtitles that are listed under each main section
Each section is to be numbered, and each subsection is the number of the section followed by a decimal point and the number of the subsection. For example, subsection 12 of section 1 will be numbered as 1.12. Each section and subsection is hyperlinked to the point of the page where the content begins </p>

<h2>Introduction</h2>
<p>The introduction must have a brief overview of the topic at hand. Any subsections should extend to the introduction rather than repeat or rephrase. The language should be simple to understand and break down complicated ideas. Any jargon, abbreviation, or uncommon phrases must be hyperlinked to a definition. </p>

</body>
</html>