<html>
<head>
    <title>Documentation Standards</title>
</head>

<body>
    <script src="../static/js/toc_generator.js"></script>
    <h1>Documentation Standards</h1>
    <p>Version 1.0</p>
    <p>Last updated: November 23, 2017</p>
    <h2>Title</h2>
<p>The title must have a large font size, preferably 24, throughout the documentation.
Documents should include titles required by project tasks, found in the project outline in the CP317 website. It should be concise and understandable to everyone.</p>

<h2>Table of Contents</h2>
<p>The table of contents must include subtitles that are listed under each main section
Each section is to be numbered, and each subsection is the number of the section followed by a decimal point and the number of the subsection. For example, subsection 12 of section 1 will be numbered as 1.12. Each section and subsection is hyperlinked to the point of the page where the content begins </p>

<h2>Introduction</h2>
<p>The introduction must have a brief overview of the topic at hand. Any subsections should extend to the introduction rather than repeat or rephrase. The language should be simple to understand and break down complicated ideas. Any jargon, abbreviation, or uncommon phrases must be hyperlinked to a definition. </p>

<h2>Scope</h2>
<p>The scope must include a description of what the project does. No requirements, recommendations, or permissions should be in here. It should be a series of facts.</p>

<h2>Terms and Definitions</h2>
<p>This should include definitions and links to those definition if available. The extent of detail which the descriptions are written is so that a user is able to have a basic understanding of the term when used in a sentence.</p>

<h2>Appendices/Diagrams</h2>
<Images will either be a screenshot of the user interface, or a simple diagram in the PNG format. Diagrams are created in a credible UML program, such as StarUML. UML diagrams must use designated entity shapes, such as the class diagram, package diagram, or object diagram.</p>

<h2>References</h2>
<p>The references should include the name of the referenced information, the date that the information is created, and where it was created. Any information that is not written by the group members and during the project timeline should be referenced.</p>

<h2>Revision History</h2>
<p>The history must include the dates that the website was revised, the name of the SQA and authors that contributed to that part of the revision, and actions that were done. Version 1 only specifies the authors and SQA. Subsequent versions simply contains bulleted (dashes) brief descriptions of the type of revision made.</p>


</body>
</html>