<!DOCTYPE html>
<html lang="en">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
		{% block title %}
		{% endblock %}
		
		<!-- JQuery -->
		<script src="/static/js/jquery-3.2.1.min.js"></script>
		
		<!-- Stylesheets -->
		<link rel="stylesheet" href="/static/css/main.css">
		<link rel="stylesheet" href="/static/css/nav.css">
		<link rel="stylesheet" href="/static/css/page_content.css">
		<link rel="stylesheet" href="/static/css/typography.css">
		<link rel="stylesheet" href="/static/css/forms.css">
		<link rel="stylesheet" href="/static/css/elements.css">
		<link rel="stylesheet" href="/static/css/home.css">
		<link rel="stylesheet" href="/static/css/docs.css">
		<link rel="stylesheet" href="/static/css/tables.css">
		
		<!-- Fonts -->
		<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">

		{% block include %}
		{% endblock %}
	</head>
	<body>
		<ul class="horiz-nav">
			<li class="brand">
				<a href="/">
					ezMarker
				</a>
			</li>
			<li class="item"><a href="/courses">Courses</a></li>
			<li class="item"><a href="#">Help</a></li>
			<li class="name-section">
			    <span>Welcome, David Brown</span>
				<button onclick="window.location.href='/logout'" class="btn">Logout</button>
			</li>
		</ul>
		<div class="page-content-horiz">
			{% block content %}
			{% endblock %}
		</div>
	</body>
	<!-- JS Files -->
	
	<script type="text/javascript" src="/static/js/accordion.js"></script>
	<script type="text/javascript" src="/static/js/modal.js"></script>
</html>
