<!DOCTYPE html>
<html lang="en">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
		<link rel="shortcut icon" type="image/png" href="/static/img/logo.png"/>
		{% block title %}
		{% endblock %}

		<!-- JQuery -->
		<script src="/static/js/jquery-3.2.1.min.js"></script>
		<script src="/static/js/jquery.easy-autocomplete.js"></script>

		<!-- Stylesheets -->
		<link rel="stylesheet" href="/static/css/main.css">
		<link rel="stylesheet" href="/static/css/nav.css">
		<link rel="stylesheet" href="/static/css/page_content.css">
		<link rel="stylesheet" href="/static/css/typography.css">
		<link rel="stylesheet" href="/static/css/forms.css">
		<link rel="stylesheet" href="/static/css/elements.css">
		<link rel="stylesheet" href="/static/css/home.css">
		<link rel="stylesheet" href="/static/css/docs.css">
		<link rel="stylesheet" href="/static/css/tables.css">
		<link rel="stylesheet" href="/static/css/easy_autocomplete.css">
		<link rel="stylesheet" href="/static/css/upload_button.css">

		<!-- Fonts -->
		<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">

		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">

		{% block include %}
		{% endblock %}
	</head>
	<body>
		<ul class="horiz-nav">
			<a href="/home"><img id="logo" src="/static/img/logo.png"></a>
			<li class="brand">
				<a href="/">
					ezMarker
				</a>
			</li>
            {% if user is not none %}
                <li class="item"><a href="/index.py?page=courses">Courses</a></li>
			{% endif %}
            <li class="item"><a href="/index.py?page=help">Help</a></li>
            {% if user is not none %}
                <li class="name-section">
			        <span>{{"Welcome, "+user.get_full_name() if user is not none else ""}}</span>
				    <button onclick="window.location.href='/index.py?page=logout'" class="btn"><i class="fa fa-sign-out" aria-hidden="true"></i> Logout</button>
               </li>
            {% endif %}
		</ul>
		<div class="page-content-horiz">
			{% block content %}
                {% if doc is defined %}
                    {% if doc == 'spmp' %}
                        {% include 'spmp.html' %}
                    {% elif doc == 'requirements' %}
                        {% include 'requirements.html' %}
                    {% elif doc == 'requirements_wrapper' %}
                        {% include 'requirements_wrapper.html' %}
                    {% elif doc == 'analysis' %}
                        {% include 'analysis.html' %}
                    {% elif doc == 'analysis_wrapper' %}
                        {% include 'analysis_wrapper.html' %}
                    {% elif doc == 'design' %}
                        {% include 'design.html' %}
                    {% elif doc == 'design_wrapper' %}
                        {% include 'design_wrapper.html' %}
                    {% endif %}
                {% endif %}
			{% endblock %}
		</div>
	</body>
	<!-- JS Files -->
	{% block scripts %}
	{% endblock %}

</html>
