{% extends "index.html" %}

{% block title %}
	<title>ezMarking | Grades Uploaded</title>
{% endblock %}

{% block content %}
<div class="page-section">
	<h1>{{ 'Upload complete for {}, {}'.format(course.get_name(), grade_item.get_name()) }}</h1>
	<h3>{{ '{} of {} grades uploaded successfully'.format(success, total) }} </h3>
	{% if errors != [] %}
	  	{% for error in errors %}
            <p>{{ '{}'.format(error['msg']) }}</p>
    	{% endfor %}
	{% endif %}
	<hr>
	<table>
        <tr>
            <th>Name</th>
            <th>Grade</th>
        </tr>
	    {%for grade in grades %}                                 
		<tr>
			<th>{{ grade.get_student().get_name() }}</th>
			<th>{{ "({}/{})".format(grade.get_value(), grade.get_grade_item().get_max())}}</th>
		</tr>
	    {% endfor %}	
	</table> 
</div>
<script>
</script>
{% endblock %}

