<html>
	<head>
		<title>ezMarker - Software Project Management Plan</title>
	</head>
	<body>
		<script src="../../../static/js/toc_generator.js"></script>
		<h1>ezMarker - Software Project Management Plan</h1>
		<p>Version 2.0</p>
		<p>Last updated: October 22, 2017</p>

		<div id="toc">
			<h2>Table of Contents</h2>
		</div>

		<h2 id="overview">Overview</h2>
			<p>ezMarker is a web application that allows instructors to upload grades and feedback onto MyLearningSpace with ease. <a href="#mylearningspace">MyLearningSpace</a> (MLS) is Wilfrid Laurier University's online learning management system. It is a rebranded version of <a href="#brightspace">Brightspace</a>, created by <a href="#desire2learn">Desire2Learn</a> (D2L). This educational platform allows students and instructors to communicate, share resources, and keep track of academic progress. A vital part of this system is a feature that allows instructors to set grades and give feedback on student work. The current feedback system on MLS becomes tedious and is time consuming when giving feedback for large classes. ezMarker cuts down time by allowing bulk grade and feedback upload with the use of the <a href="#brightspace">Brightspace API</a>.</p>
		<p>A driving force behind reworking the feedback feature is the <a href="#1.3%20Definitions">Autograder</a> program, currently used by the computer science department at Wilfrid Laurier University. Although designed to reduce time spend grading programming assignments, uploading feedback from the Autograder still takes considerable amounts of time using the conventional MLS feedback system. ezMarker cuts down on this time by allowing bulk grade and feedback upload.</p>
		<p>ezMarker builds on and extends an existing project developed by Harold Hodgins for the upload of grades and feedback on MLS.</p>  
		<h3 id="purpose_scope">Purpose</h3>

		<p>
		The purpose of this document is to organize project deliverables and ensure that the project is completed in a timely fashion and meets the client's needs. This SPMP documents all resources, schedules, checkpoints, and major tasks needed for the completion of ezMarker. The project requirements are collected and listed in a seperate document.
		</p>

		<h3 id="scope">Scope</h3>
		<p>
			ezMarker is a website that adds extended functionality to the MLS platform by providing an interface for setting student grades and feedback that is superior to the current MLS implementation. It is branched off of an existing projected completed by Harold Hodgins, which is being upgraded with extended features and improvements of previous functions to fit the new MLS platform smoothly. In the existing system, feedback has to be set individually for each student. For courses with many students, inputting feedback for seperately each student can take hours. ezMarker provides an alternate user interface that reduces grade recording time to minutes by allowing users to upload a single file that contains both grades and feedback for any students the user wishes to mark.
		</p> 
		<p>ezMarker also offers the capability to manually input grades and feedback for selected students, such that ezMarker can replace the current MLS website for all marking purposes.</p>

		<p>The current MLS interface for uploading grades: </p>
		<img src="/static/img/current.png">

		<h3 id="assumptions_cons">Constraints</h3>
		<ul>
			<li>Deadline of December 6, 2017.</li>
			<li>Capabilities of Brightspace API.</li>
			<li>Budget of $0.</li>
			<li>The abilities of the ezMarker team.</li>
		</ul>

		<h3 id="deliverables">Project Deliverables</h3>
		<h4 id="software_del">Software Deliverables</h4>
		<p>The ezMarker team aims to deliver a fully functioning product before December 6, 2017. Its aspects are as follows:

			<ul>
				<li>Two wrappers: Python and PHP.</li>
				<li>Two version of the website: Python and PHP.</li>
			</ul>

			For more information, please refer to the Requirements Document.
		</p>
			<h4 id="document_del">Document Deliverables</h4>
		<p>
			In additon to the software itself, the following documents are required for the ezMarker project:
			<ul>
				<li>Software Project Management Plan.</li>
				<li>Software Requirements Document.</li>
				<li>Analysis Document.</li>
				<li>Design Document.</li>
				<li>ezMarker Project Software Project Management Plan.</li>
				<li>ezMarker Software Requirements Document.</li>
				<li>Brightspace API Wrapper Requirements Document.</li>

			</ul>
		</p>

		<h3 id="schedule">Schedule Summary</h3>
		<p>
			Semester Schedule:
		</p>
		<table class="use-cases">
			<tr>
				<th>Component</th>
				<th>Due Date</th>
			</tr>
			<tr>
				<td>
					Reqirements Document 
				</td>
				<td>
					2017/09/27
				</td>
			</tr>
			<tr>
				<td>
					Software Project Management Plan
				</td>
				<td>
					2017/09/27
				</td>
			</tr>
			<tr>
				<td>
					Rapid Prototype of GUI
				</td>
				<td>
					2017/09/26
				</td>
			</tr>
			<tr>
				<td>
					Informal Specification Document
				</td>
				<td>
					2017/10/04
				</td>
			</tr>
			<tr>
				<td>
					Object-Oriented Analysis
				</td>
				<td>
					2017/10/16
				</td>
			</tr>
			<tr>
				<td>
					Object-Oriented Design
				</td>
				<td>
					2017/10/23
				</td>
			</tr>
			<tr>
				<td>
					Implementation
				</td>
				<td>
					TBA
				</td>
			</tr>
			<tr>
				<td>
					Project Timeline
				</td>
				<td>
					2017/09/26
				</td>
			</tr>
			<tr>
				<td>
					User Documentation
				</td>
				<td>
					TBA
				</td>
			</tr>
			<tr>
				<td>
					Documentation Standards
				</td>
				<td>
					TBA
				</td>
			</tr>
			<tr>
				<td>
					Student Participation Records
				</td>
				<td>
					TBA
				</td>
			</tr>
		</table>

		<p>
			Refer to
			<a href="#process-model">Section 6.1</a> of the SPMP for a detailed schedule of the project timeline.
		</p>

		<h2 id="references">References</h2>
		<p>
		<p>
			<a href="https://bohr.wlu.ca/cp317/" target="_blank">CP317 course website</a>
		</p>
		<p id="testsite"><a
			  href="https://ezmarker.herokuapp.com/" target="_blank">ezMarker test website</a></p>
		<p>IEEE Std 1058-1998, IEEE Standard for Software Project Management Plans, IEEE 1998</p>
		<p>“MLS API Report”, April 30th 2017, Harold Hodgins, Wilfrid Laurier University</p>

		<h2 id="definitions">Definitions</h2>
		<p id="bohr">
			Bohr: A server used and maintained by Wilfrid Laurier's Department of Physics and Computer Science to host course information.
		</p>
		<p id="brightspace">
			<a href="https://www.d2l.com/products/learning-environment/" target="_blank">Brightspace</a>: A learning management system produced by Desire2Learn. The <a href="http://docs.valence.desire2learn.com/reference.html" target="_blank">Brightspace API</a> is used for authentication to enter the ezMarker website, and required for batch uploading of grades.
		</p>
		<p id="desire2learn">
			<a href="https://www.d2l.com/products/learning-environment/" target="_blank">Desire2Learn (D2L)</a>: A Waterloo-based company that produces learning management software. They are the creators of Brightspace.</p>
		<p id="mylearningspace">
			<a href="https://mylearningspace.wlu.ca" target="_blank">MyLearningSpace (MLS)</a>: Laurier's online learning management system for students and professors. This software is a rebranded version of Brightspace.
		</p>
		<p>SPMP: Software Project Management Plan.</p>

		<h2 id="organization">Project Organization</h2>

		<h3 id="external-structure">External Structure</h3>
		<p>
			The client for this project is Mr. David Brown. The team leader is responsible for communicating with the client and relaying information to the rest of the team. The other external entities are the MLS website and Brightspace. A team member has been appointed to communicate with MLS and Brightspace.
		</p>
		<h3 id="internal-structure">Internal Structure</h3>
		<img src="/static/img/map.png" alt="Internal Structure Map" style="width:888px;height:443px;">
		<p>
		The internal structure of the team is based around five distinct divisions: front-end, back-end, documentation, QA, and design. Each division has a leader that attends regular meetings with other group leaders to discuss the progress in their division and bring up any issues that they have encounted.
		</p>

		<p>Each division is expected to organize regular meetings that all members of the division are to attend.</p>
		<p>Communication within the team is done primarily using <a href="https://cp317fall2017.slack.com" target="_blank">Slack</a>. Email communication and in person meetings may take place if needed.
		</p>
		<p>Decisions are made democratically. Leaders' votes are worth the same as regular members. Ultimately, it is the client's decision on whether the team is to proceed with a task.</p>

		<h3 id="roles">Roles and Responsibilities</h3>
		<table class="use-cases">
			<tr>
				<th>Role</th>
				<th>Responsibilities</th>
			</tr>
			<tr>
				<td>
					Project Leader
				</td>
				<td>
					<ul>
						<li>Attend regular meetings with other team leaders as well as meetings with assigned division.</li>
						<li>Primary communicator with client (David Brown).</li>
						<li>Primary communicator with MLS affiliates.</li>
						<li>Resolves issues on a project scope.</li>
					</ul>
				</td>
			</tr>
			<tr>
				<td>
					Team Leader
				</td>
				<td>
					<ul>
						<li>Attend regular meetings with other team leaders as well as meetings with assigned division.</li>
						<li>Lead respective division into executing assigned tasks.</li>
						<li>Organize teams for timely delivery.</li>
					</ul>
				</td>
			</tr>
			<tr>
				<td>
					Front-end Members
				</td>
				<td>
					<ul>
						<li>Deliver working code as expressed in project guidelines.</li>
						<li>Create an appealing, user-friendly experience.</li>
						<li>Collaborate with back-end team for integration, and assure function.</li>
					</ul>
				</td>
			</tr>
			<tr>
				<td>
					back-end Members
				</td>
				<td>
					<ul>
						<li>Deliver working code as expressed in project guidelines.</li>
						<li>Create an maintainable, functional back-end.</li>
						<li>Collaborate with back-end team for integration, and assure function.</li>
					</ul>
				</td>
			</tr>
			<tr>
				<td>
					Documentation Members
				</td>
				<td>
					<ul>
						<li>Create required documentation.</li>
						<li>Organize documentation and present in ergonomic format.</li>
					</ul>
				</td>
			</tr>
			<tr>
				<td>
					Quality Assurance Members
				</td>
				<td>
					<ul>
						<li>Perform unit and integration tests, and ticket submission.</li>
						<li>Properly assign tickets to appropriate subdivisions.</li>
						<li>Keep QA log on tested software.</li>
					</ul>
				</td>
			</tr>
		</table>
		<p>
			In addition, all members are expected to:
			<ul>
				<li>Collaborate with team members for maximum perfomance.</li>
				<li>Meet assigned deadlines.</li>
				<li>Attend the appropriate group meetings.</li>
			</ul>
		</p>

		<h2 id="management-plan">Management Process Plan</h2>

		<h3 id="startup-plan">Project Start-Up Plan</h3>

		<h4 id="estimation-plan">Estimation Plan</h4>
		<p>
			The team aims to have the project completed before the end of the Fall semester (December 3, 2017). If re-estimation is inevitable, the team is to meet in person to discuss how the schedule will be re-evaluated.
		</p>

		<h4 id="staffing-plan">Staffing Plan</h4>
		<p>
		<table style="width:400px", border="1px">
		<tr>
			<td><b>Full Name</b></td>
			<td><b>Group</b></td>
		</tr>

		<tr>
			<td>Tyler Allen</td>
			<td>Back-end</td>
		</tr>

		<tr>
			<td>Hind Althabi</td>
			<td>Documentation</td>
		</tr>

		<tr>
			<td>Mohamed Al-Thibeh</td>
			<td>Front-end</td>
		</tr>

		<tr>
			<td>Lucas Boulanger</td>
			<td>Back-end</td>
		</tr>

		<tr>
			<td>Andrew Chua</td>
			<td>Documentation</td>
		</tr>

		<tr>
			<td>Simranjit Dhunsi</td>
			<td>Front-end</td>
		</tr>

		<tr>
			<td>Ben Douglas</td>
			<td>Documentation</td>
		</tr>

		<tr>
			<td>Jaenuz Gorospe</td>
			<td>Back-end</td>
		</tr>

		<tr>
			<td>Brandon Gratch</td>
			<td>Back-end</td>
		</tr>

		<tr>
			<td>Tyler Gwynn</td>
			<td>Documentation</td>
		</tr>

		<tr>
			<td>Jacob Heard</td>
			<td>Back-end*</td>
		</tr>

		<tr>
			<td>Harold Hodgins</td>
			<td>Back-end</td>
		</tr>

		<tr>
			<td>Sumeet Jhand</td>
			<td>Testing</td>
		</tr>

		<tr>
			<td>Sarah Johnston</td>
			<td>Front-end*</td>
		</tr>

		<tr>
			<td>Kosta Kalenteridis</td>
			<td>Back-end</td>
		</tr>

		<tr>
			<td>Xiang Ke</td>
			<td>Back-end</td>
		</tr>

		<tr>
			<td>Mark Kokan</td>
			<td>Front-end</td>
		</tr>

		<tr>
			<td>Mitchell Krampitz</td>
			<td>Documentation</td>
		</tr>

		<tr>
			<td>Weibin Ma</td>
			<td>Documentation</td>
		</tr>

		<tr>
			<td>Zac Macdonald</td>
			<td>Documentation</td>
		</tr>

		<tr>
			<td>Chongju Mai</td>
			<td>Back-end</td>
		</tr>

		<tr>
			<td>Marko Mihailovic</td>
			<td>Documentation</td>
		</tr>

		<tr>
			<td>Troy Nechanicky</td>
			<td>Documentation*</td>
		</tr>

		<tr>
			<td>Yi Ling Pang</td>
			<td>Front-end</td>
		</tr>

		<tr>
			<td>Simon Phothitay</td>
			<td>Testing</td>
		</tr>

		<tr>
			<td>Pirajeev Prabaharan</td>
			<td>Testing</td>
		</tr>

		<tr>
			<td>Deep Raithatha</td>
			<td>Front-end</td>
		</tr>

		<tr>
			<td>Shuaib Reeyaz</td>
			<td>Testing</td>
		</tr>

		<tr>
			<td>Jose Romero</td>
			<td>Documentation</td>
		</tr>

		<tr>
			<td>Amardeep Sarang</td>
			<td>Testing</td>
		</tr>

		<tr>
			<td>Harjodh Singh</td>
			<td>Testing*</td>
		</tr>


		<tr>
			<td>Remneek Thind</td>
			<td>Documentation</td>
		</tr>

		<tr>
			<td>Sophie Wang</td>
			<td>Front-end</td>
		</tr>

		<tr>
			<td>Michelle Wong</td>
			<td>Front-end</td>
		</tr>

		<tr>
			<td>Linda Zhang</td>
			<td>Testing</td>
		</tr>


		</table>

		* represents a group leader
		</p>


		<h4 id="resource-plan">Resource Acquisition Plan</h4>
		<p>
			The project team has been given all required resources at the beginning of the project. All team members are expected to have:
			<ul>
				<li>A <a href="https://github.com/Sjohnston3700/CP317_MLS_Project" target="_blank">GitHub</a> account that is in the project repository.</li>
				<li><a href="https://git-scm.com/" target="_blank">Git</a> installed on their local machine for version control management.</li>
				<li>A <a href="https://cp317fall2017.slack.com" target="_blank">Slack</a> account for group communication.</li>
				<li>An <a href="https://www.ezemployee.com" target="_blank">ezEmployee</a> account to record time spent on the project.</li>
				<li>An <a href="https://app.asana.com/" target="_blank">Asana</a> account to submit tickets and track changes.</li>
				<li>Access to appropriate development tools.</li>
			</ul>
		</p>

		<h4 id="training-plan">Project Staff Training Plan</h4>
		<p>The team is being trained through regular attendance of class. A Git training session has been held to teach members how to use version control for this project.</p>

		<h3 id="control-plan">Control Plan</h3>

		<h4 id="reqs-control-plan">Requirements Control Plan</h4>
		<p>All requirement changes require a team discussion to evaluate the change in relation to project guidelines, scope, and quality.</p>
		<p>
			Two main techniques include:
			<ul>
				<li>Traceability - Any change in the project can be directly traced back to the requirements plan.</li>
				<li>Impact Analysis - The team is discuss impact of changes prior to any action taken.</li>
			</ul>
		</p>

		<h4 id="schedule-control-plan">Schedule Control Plan</h4>
		<p>
			Each member is to make their own individual efforts to consult the project schedule and meet deadlines. Following a missed deadline, the schedule will be updated accordingly through discussion among division members. Each team member is expected to record time spent working on each part of the project, evaluate whether they will be able to meet the deadline, and report to their team leader if they cannot.
		</p>

		<h4 id="quality-control-plan">Quality Control Plan</h4>
		<p>
			Each member of the team is expected to produce work that adheres to the requirements document and maintains the team’s standards of quality. To ensure this, the QA team regularly reviews code and documentation. The team is to ensure the software is working as intended and submit a ticket via <a href="https://app.asana.com/" target="_blank">Asana</a> if it does not meet project standards.
			</p>

		<h4 id="reporting-plan">Reporting Plan</h4>
		<p>There are 3 main reporting mechanisms used by the project team:
			<ul>
				<li>Scheduled Leader Meetings - The team leaders meet every Tuesday at 10:00AM. Other members who would like to contribute are encouraged to attend.</li>
				<li>Slack - Communication is primarily held here, and members are encouraged to discuss matters in their appropriate Slack channels prior to submitting a ticket.</li>
				<li>Asana - Tickets should be submitted in Asana to notify members that a fault has been noted. Details such as division and actions that may have triggered the error must also be provided of said report.</li>
			</ul>
		</p>

		<h4 id="metrics-plan">Metrics Collection Plan</h4>
		<p>
			The website <a href="https://ezemployee.com/" target="_blank">ezEmployee</a> is used to collect project metrics. Project members are expected to accurately log their time spent working each week on the project. 
		</p>

		<h3 id="risk-management-plan">Risk Management Plan</h3>
		<p>
			Risk factors that the project faces include work that does not meet the deadline due to class conflicts, external responsibilities, and unforeseen circumstances. Conflicts are constantly tracked and if a conflict is met, action is to be taken to attempt to meet that deadline.
		</p>
		<p>
			Integration between front-end and back-end may not occur as anticipated and will be discussed in a meeting between the front-end and back-end developers.</p>
		<p>The use of a version control system, <a href="https://git-scm.com/" target="_blank">Git</a>, allows the team to revert back to working code in the event of a fault-introducing commit.
		</p>

		<h3 id="closeout-plan">Project Closeout Plan</h3>
		<p>
			Upon completion of the software project in December of 2017, the client will be given:
			<ul>
				<li>The final copy of the project.</li>
				<li>All documentation for the project.</li>
				<li>A log of all commits and events from September 2017 to December 2017.</li>
				<li>A log of all hours spent by each team member on the project from September 2017 to December 2017.</li>
				<li>A log of all tickets from September 2017 to December 2017.</li>
			</ul>
		</p>

		<h2 id="technical-plan">Technical Process Plan</h2>
		<p>
			All programming-based task timelines and strategies are recorded in this section. This is a tentative model, and is to be updated as the project progresses.
		</p>
		<h3 id="process-model">Process Model</h3>
		<p>Below is the proposed timeline of the project and appropriate tasks:</p>
		<table class="use-cases">
			<tr>
				<th>Phase</th>
				<th>Time Range</th>
				<th>Goals</th>
			</tr>
			<tr>
				<td>
					Planning
				</td>
				<td>
					2017/09/11 – 2017/09/21
				</td>
				<td>
					<ul>
						<li>Develop strategy for project progression.</li>
						<li>Assign teams.</li>
						<li>Review existing code from previous term.</li>
					</ul>
				</td>
			</tr>
			<tr>
				<td>
					Requirements
				</td>
				<td>
					2017/09/22 – 2017/09/27
				</td>
				<td>
					<ul>
						<li>Document project requirements.</li>
						<li>Familiarization with path of execution.</li>
						<li>Create documents (SPMP, Requirements).</li>
						<li>Front-end prototype.</li>
					</ul>
				</td>
			</tr>
			<tr>
				<td>
					Specification
				</td>
				<td>
					2017/09/28 – 2017/10/17
				</td>
				<td>
					<ul>
						<li>Analyse user end requirements.</li>
						<li>Finalize project timeline.</li>
						<li>Edit documents after client feedback.</li>
						<li>Finalize tools and frameworks.</li>
					</ul>
				</td>
			</tr>
			<tr>
				<td>
					Design
				</td>
				<td>
					2017/10/17 – 2017/10/23
				</td>
				<td>
					<ul>
						<li>UML diagrams.</li>
						<li>Finalize front-end.</li>
						<li>Finalize back-end structure.</li>
					</ul>
				</td>
			</tr>
			<tr>
				<td>
					Implementation
				</td>
				<td>
					2017/10/24 – 2017/11/27
				</td>
				<td>
					<ul>
						<li>Build functional prototype.</li>
						<li>Upload to test server.</li>
						<li>Gather client feedback.</li>
						<li>Ensure front-end flow.</li>
					</ul>
				</td>
			</tr>
			<tr>
				<td>
					Integration
				</td>
				<td>
					2017/11/28 – 2017/12/05
				</td>
				<td>
					<ul>
						<li>Assemble project.</li>
						<li>Complete documentation.</li>
						<li>Focus group testing.</li>
					</ul>
				</td>
			</tr>
		</table>
		<p>
			Roles and tasks may be shifted to accommodate the student calendar and any unforeseen events. Team members are to self-document their progress and any issues that they encounter during development. There are weekly meetings with group leaders to summarize the position of their respective sections, and any task not completed during the assigned time is shifted to the next phase and may result in a reallocation of team resources.
		</p>

		<h3 id="methods">Methods, Tools and Techniques</h3>
		<p>
			The project is split up into two sections: front-end and back-end. They are being worked on by separate teams and are stored in a <a href="https://github.com/Sjohnston3700/CP317_MLS_Project" target="_blank">Github repository</a>. The leaders of each section are to work out internally the preferred strategy and framework for their team.
		</p>
		<p>This software is developed as a web application with no consideration for mobile usability.</p>
		<p>
			Front-end:
			<ul>
				<li>JavaScript 1.8</li>
				<li>HTML5/CSS</li>
			</ul>
		</p>
		<p>
			Back-end:
			<ul>
				<li>Apache (A web server with support for PHP, Python3.x, and Flask)</li>
				<li>Brightspace API</li>
				<li>PHP 5.4</li>
				<li>Python 3.6</li>
				<li>Flask</li>
			</ul>
		</p>
		<p>Miscellaneous tools to be used: Google Docs, Dropbox, MS Word.</p>

		<h3 id="infrastructure-plan">Infrastructure Plan</h3>
		<p>
			The software is a companion application to <a href="#brightspace">Brightspace</a>. At key checkpoints, prototypes are uploaded to the <a href="https://ezmarker.herokuapp.com/" target="_blank">test server</a>, and transferred to <a href="#bohr">Bohr</a> upon completion. It is to be supported by the Flask framework for the Python verions. Additional resources may include but are not limited to printers, drafting materials, and other University resources.
		</p>

		<h3 id="product-acceptance-plan">Product Acceptance Plan</h3>
		<p>
			Working prototypes are presented to the client at key intervals for assessment along with progress documentation. The client interacts with the prototypes on a test server, which simulates the final product. Internal beta tests are also taking place after each unit is completed.
		</p>

		<h2 id="supporting-plan">Supporting Process Plan</h2>


		<h3 id="doc-plan">Documentation Plan</h3>
		<p>
			The documents that are maintained and controlled are as follows:
			<ul>
				<li>Software Requirements document</li>
				<li>Analysis document</li>
				<li>Design document</li>
				<li>QA log</li>
				<li>Testing log</li>
				<li>Client feedback</li>
				<li>Interval reviews</li>
			</ul>
		</p>

		<h3 id="qa-plan">Quality Assurance Plan</h3>
		<p>
			A QA team is dedicated to each stage of development. Members may be interchangeably assigned to tasks depending on the needs of unique cases. Multistage testing is to take place, accompanied by unit testing logs.
		</p>

		<h3 id="audit-plan">Reviews and Audit Plan</h3>
		<p>
			Prototypes of the product is to be distributed to the team to be thoroughly unit tested prior to client presentation. The team is to also peer review code and documentation within their sections and resolve any immediate bugs, along with proper documentation. All features are presented to the client for acceptance testing before finalization.
		</p>

		<h3 id="resolution-plan">Problem Resolution Plan</h3>
		<p>In the event of critical issues, the team is to follow the general contingency plan listed below:</p>
		<ul>
			<li>Create a ticket in Asana.</li>
			<li>Contact the appropriate parties via Slack.</li>
		</ul>
		<p>If the issue cannot be resolved and has a detrimental impact on scheduling or the final product, the team leader is to contact the client immediately with possible alternatives.</p>

		<h2 id="revision-history">Revision History</h2>
		<h3>Version 1.0 - 09/27/2017</h3>
		<p>Authors: Jaenuz Gorospe, Sumeet Jhand, Sarah Johnston, Marko Mihailovic, Troy Nechanicky, Simon Phothitay, Jose Romero, Sophie Wang</p>
		<p>SQA: Tyler Gwynn, Chongju Mai, Amardeep Sarang</p>
		<h3>Version 2.0 - 10/02/2017</h3>
		<p>- Added more detail to the Overview and Scope</p>
		<p>- Added additional definitions and more intra-document links to the Definitions section</p>
		<p>- Removed unneeded sections</p>
		<p>- Further specified the technologies that are being used</p>
		<p>- Numerious small grammatical and detail changes</p>
		<h3>Version 3.0 - 10/22/2017</h3>
		<p>- Added dashes to all occurances of backend and frontend.</p>
		<p>- Mentioned Autograder as driving force behind project</p>
		<p>- Revised timeline to better reflect actual work progress</p>
		<p>- Revised needs and goals due to client conflict</p>
		<p>Authors: Lucas Boulanger, Sarah Johnston, Marko Mihailovic, Troy Nechanicky, Simon Phothitay, Jose Romero, Sophie Wang</p>
		<p>SQA: Jaenuz Gorospe</p>
	</body>
	<style>
		img 
		{
			width: 800px;
		}
	</style>
</html>
