.center
{
	margin: 20px auto;
	text-align: center;
}

.btn-row
{
	display: block;
	margin-top: 60px;
}

.course-item {
	width: 100%;
	float: left;
	display: block;
	border: 2px solid #330072;
	margin-bottom: 20px;
    position: relative;
}

.course-item > a {
	float: left;
	width: 100%;
	padding: 20px;
	text-decoration: none;
	color: #525252;
}

.course-item.active > a {
	color: white;
  background-color: #330072;
}

.course-grades {
	float: left;
	width: 100%;
	padding: 20px;
}

.grade-link {
	text-decoration: none;
	display: block;
	margin: 5px;
	float: left;
	border: 1px solid black;
	padding: 10px;
	width: 200px;
	background-color: white;
}

.course-grades {
	transition: display 2s;
}

.course-item.active .course-grades {
	display: block !important;
}

.course-carat {
	position: absolute;
	top: 22px;
	right: 10px;
	margin: auto;
	height: 14px;
	line-height: 11px;
	font-size: 23px;
	color: #6b459b;
}

.course-item.active .course-carat {
	transform: rotate(180deg);
	color: white;
}