<!DOCTYPE html>
<html lang="en">
<head>
    <title>Grades available for setting</title>
</head>
<body>
    <ul id="navigation">
    {% for course in user.courses %}
        
        {% if course.grade_items != [] %}
        <li>{{course.name}}</li>
        
        <ul>
        {% for gradeItem in course.grade_items %}
        <li><a href="{{ '/grades/{}/{}'.format(course.Id,gradeItem.Id)}}">{{ gradeItem.name }}</a></li>
        {% endfor %}
        </ul>
        
        {% endif %}
        
    {% endfor %}
    </ul>
</body>
</html>
