{% extends "index.html" %}

{% block title %}
	<title>ezGrading | Grades Uploaded</title>
{% endblock %}

{% block content %}
	<H1> {{ '{} of {} grades uploaded successfully for {} - {}'.format(successful_grades,grades|length,course.name,gradeItem.name ) }} </H1>
    <H2> Errors </H2>
    <ul id="navigation">
    {% for error in errors %}
        <li>{{ error }}</li>   
    {% endfor %}
    </ul>
    <br>    
    <a href="{{ url_for('showCourses') }}"> Upload more grades</a>
    <br>
    <a href="{{ gradesUrl }}" target="_blank"> Check Grades</a>
    <br>
    <a href="{{ logoutUrl }}"> Logout </a>
{% endblock %}
