<!DOCTYPE html>
{% extends "index.html" %}

{% block title %}
	<title>ezMarking | Software Project Management Plan</title>
{% endblock %}

{% block content %}

<a class="btn" href="/documentation/spmp/raw">View Raw HTML</a>
<h1>ezMarker - Software Project Management Plan</h1>
<p>Version 2.0</p>
<p>Last updated: October 2, 2017</p>

<h2>Table of Contents</h2>
<ul>
    <li>
        <a href="#overview">1. Overview</a>
        <ul>
            <li>
                <a href="#purpose_scope">1.1 Purpose, Scope and Objectives</a>
                <ul>
                    <li><a href="#purpose">1.1.1 Purpose</a></li>
                    <li><a href="#scope">1.1.2 Scope</a></li>
                </ul>
            </li>
            <li>
                <a href="#assumptions_cons">1.2 Assumptions and Constraints</a>
                <ul>
                <li><a href="#assumptions">1.2.1 Assumptions</a></li>
                    <li><a href="#constraints">1.2.2 Constraints</a></li>
                </ul>
            </li>
            <li>
                <a href="#deliverables">1.3 Project Deliverables</a>
                <ul>
                    <li><a href="#software_del">1.3.1 Software Deliverables</a></li>
                    <li><a href="#document_del">1.3.2 Document Deliverables</a></li>               
                </ul>
            </li>
            <li>
                <a href="#schedule">1.4 Schedule Summary</a>
            </li>
        </ul>
    </li>
    <li>
        <a href="#references">2. References</a>
    </li>
    <li>
        <a href="#definitions">3. Definitions</a>
    </li>
    <li>
        <a href="#organization">4. Project Organization</a>
        <ul>
            <li>
                <a href="#external-structure">4.1 External Structure</a>
            </li>
            <li>
                <a href="#internal-structure">4.2 Internal Structure</a>
            </li>
            <li>
                <a href="#roles">4.3 Roles and Responsibilities</a>
            </li>
        </ul>
    </li>
    <li>
        <a href="#management-plan">5. Management Process Plan</a>
        <ul>
            <li>
                <a href="#startup-plan">5.1 Project Start-Up Plan</a>
                <ul>
                    <li>
                        <a href="#estimation-plan">5.1.1 Estimation Plan</a>
                    </li>
                    <li>
                        <a href="#staffing-plan">5.1.2 Staffing Plan</a>
                    </li>
                    <li>
                        <a href="#resource-plan">5.1.3 Resource Acquisition Plan</a>
                    </li>
                    <li>
                        <a href="#training-plan">5.1.4 Project Staff Training Plan</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#work-plan">5.2 Work Plan</a>
                <ul>
                    <li>
                        <a href="#work-activities">5.2.1 Work Activities</a>
                    </li>
                    <li>
                        <a href="#allocation">5.2.2 Schedule and Resource Allocation</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#control-plan">5.2 Control Plan</a>
                <ul>
                    <li>
                        <a href="#reqs-control-plan">5.2.1 Requirements Control Plan</a>
                    </li>
                    <li>
                        <a href="#schedule-control-plan">5.2.2 Schedule Control Plan</a>
                    </li>
                    <li>
                        <a href="#quality-control-plan">5.2.3 Quality Control Plan</a>
                    </li>
                    <li>
                        <a href="#reporting-plan">5.2.4 Reporting Plan</a>
                    </li>
                    <li>
                        <a href="#metrics-plan">5.2.5 Metrics Collection Plan</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#risk-management-plan">5.3 Risk Management Plan</a>
            </li>
            <li>
                <a href="#closeout-plan">5.4 Project Closeout Plan</a>
            </li>
        </ul>
    </li>
    <li>
        <a href="#technical-plan">6. Technical Process Plan</a>
        <ul>
            <li>
                <a href="#process-model">6.1 Process Model</a>
            </li>
            <li>
                <a href="#methods">6.2 Methods, Tools and Techniques</a>
            </li>
            <li>
                <a href="#infrastructure-plan">6.3 Infrastructure Plan</a>
            </li>
            <li>
                <a href="#product-acceptance-plan">6.4 Product Acceptance Plan</a>
            </li>
        </ul>
    </li>
    <li>
        <a href="#supporting-plan">7. Supporting Process Plan</a>
        <ul>
            <li>
                <a href="#verification-plan">7.1 Verification and Validation Plan</a>
            </li>
            <li>
                <a href="#doc-plan">7.2 Documentation Plan</a>
            </li>
            <li>
                <a href="#qa-plan">7.3 Quality Assurance Plan</a>
            </li>
            <li>
                <a href="#audit-plan">7.4 Reviews and Audit Plan</a>
            </li>
            <li>
                <a href="#resolution-plan">7.5 Problem Resolution Plan</a>
            </li>
            <li>
                <a href="#involvement-plan">7.6 Process Involvement Plan</a>
            </li>
        </ul>
    </li>
    <li>
        <a href="#revision-history">Revision History</a>
        <br>
    </li>
</ul>
<h2 id="overview">1. Overview</h2>
<p>
	 ezMarker is a web application that allows instructors to upload grades into MyLearningSpace with ease. <a href="https://mylearningspace.wlu.ca">MyLearningSpace</a> (MLS) is Laurier's online learning management system. It is a rebranded version of a product called <a href="https://www.d2l.com/products/learning-environment/">Brightspace</a>, created by <a href="https://www.d2l.com/products/learning-environment/">Desire2Learn</a> (D2L). This educational platform allows students and instructors to communicate, share resources, and keep track of student progress. A vital part of this system is a feature that allows instructors to set grades and give feedback on student work. The current feedback system on MLS is tedious and becomes very time consuming when inputting individual feedback for large classes. ezMarker will cut down on this time by automating grade and feedback upload with the use of the <a href="http://docs.valence.desire2learn.com/reference.html">Brightspace API.</a>
</p>

<h3 id="purpose_scope">1.1 Purpose, Scope, and Objectives</h3>
<h4 id="purpose">1.1.1 Purpose</h4>
<p>
	This document outlines the requirements, goals, and features for the ezMarker application. Throughout the lifecycle of this project, anyone involved in its creation will refer to this document for the basis of their work.</p>

<h4 id="scope">1.1.2 Scope</h4>
<p>
	The software being produced is a web application called ezMarker. This software is used by professors and markers at Wilfrid Laurier University who need to upload student grades and feedback to the university's online learning environment, MLS. Markers that input grades directly through the MLS website can take hours to complete a class. The objective of this project is to provide an alternate user interface that cuts grade recording time down to minutes with batch file uploads.
</p>

<h3 id="assumptions_cons">1.2 Assumptions and Constraints</h3>
<h4 id="assumptions">1.2.1 Assumptions</h4>
<p>
    The ezMarker Team will use:
    <ul>
        <li><a href="http://docs.valence.desire2learn.com/reference.html">Brightspace API</li></a>
        <li>Python 3.4</li>
		<li>PHP 5.4</li>
    </ul>
    The Team will work on no budget and has enough experience to complete the ezMarker project.
</p>
    <h4 id="constraints">1.2.2 Constraints</h4>
<ul>
    <li>Completion of ezMarker by December 2017</li>
	<li>Capabilities of Brightspace API</li>
</ul>

<h3 id="deliverables">1.3 Project Deliverables</h3>
<h4 id="software_del">1.3.1 Software Deliverables</h4>
<p>The ezMarker team aims to deliver a fully functioning product before December 2017.</p>
    <h4 id="document_del">1.3.2 Document Deliverables</h4>
<p>
    The following documents are required for the ezMarker project:
    <ul>
        <li>Software Project Management Plan</li>
        <li>Software Requirements Document</li>
        <li>Analysis Document</li>
        <li>Design Document</li>
    </ul>
</p>
<p>
    The following documents are given to the client:
    <ul>
        <li>ezMarker Project Software Project Management Plan</li>
        <li>ezMarker Software Requirements Document</li>
    </ul>
</p>

<h3 id="schedule">1.4 Schedule Summary</h3>
<p>
    Semester Schedule:
</p>
<table class="use-cases">
    <tr>
        <th>Component</th>
        <th>Due Date</th>
    </tr>
    <tr>
        <td>
            Reqirements Document 
        </td>
        <td>
            2017/09/27
        </td>
    </tr>
    <tr>
        <td>
            Software Project Management Plan
        </td>
        <td>
            2017/09/27
        </td>
    </tr>
    <tr>
        <td>
            Rapid Prototype of GUI
        </td>
        <td>
            2017/09/26
        </td>
    </tr>
    <tr>
        <td>
            Informal Specification Document
        </td>
        <td>
            TBA
        </td>
    </tr>
    <tr>
        <td>
            Object-Oriented Analysis
        </td>
        <td>
            TBA
        </td>
    </tr>
    <tr>
        <td>
            Object-Oriented Design
        </td>
        <td>
            TBA
        </td>
    </tr>
    <tr>
        <td>
            Implementation
        </td>
        <td>
            TBA
        </td>
    </tr>
    <tr>
        <td>
            Project Timeline
        </td>
        <td>
            2017/09/26
        </td>
    </tr>
    <tr>
        <td>
            User Documentation
        </td>
        <td>
            TBA
        </td>
    </tr>
    <tr>
        <td>
            Documentation Standards
        </td>
        <td>
            TBA
        </td>
    </tr>
    <tr>
        <td>
            Student Participation Records
        </td>
        <td>
            TBA
        </td>
    </tr>
</table>

<p>
    Please refer to
    <a href="#process-model">Section 6.1</a> of the SPMP for a detailed schedule of the project timeline.
</p>

<h2 id="references">2. References</h2>
<p>
<p>
    <a href="https://bohr.wlu.ca/cp317/">CP317 course website</a>
</p>
<p><a
      href="https://ezmarker.herokuapp.com/">ezMarker test website</a></p>
<p>IEEE Std 1058-1998, IEEE Standard for Software Project Management Plans, IEEE 1998</p>
<p>“MLS API Report”, April 30th 2017, Harold Hodgins, Wilfrid Laurier University</p>

<h2 id="definitions">3. Definitions</h2>
<p id="bohr">
	Bohr: A server used and maintained by Wilfrid Laurier's Department of Physics and Computer Science to host course information.
</p>
<p id="brightspace">
	<a href="https://www.d2l.com/products/learning-environment/">Brightspace</a>: A learning management system produced by Desire2Learn. The <a href="http://docs.valence.desire2learn.com/reference.html">Brightspace API</a> is used for authentication for entry into the ezMarker website and used to upload student grades in batches.
</p>
<p>
	<a href="https://www.d2l.com/products/learning-environment/">Desire to Learn (D2L)</a>: A Waterloo-based company that produces learning management software. They are the creators of Brightspace.</p>
<p>
	<a href="https://mylearningspace.wlu.ca">MyLearningSpace (MLS)</a>: Laurier's online learning management system for students and professors. This software is a rebranded version of Brightspace.
</p>
<p>SPMP – Software Project Management Plan</p>

<h2 id="organization">4. Project Organization</h2>

<h3 id="external-structure">4.1 External Structure</h3>
<p>
	The client for this project is David Brown. The team leader communicates with this client via email or meetings and relays information to the rest of the team. Another external entity is the MLS website and Brightspace API. The team leader communicates with MLS affiliates via email.
</p>
<h3 id="internal-structure">4.2 Internal Structure</h3>
<img src="/static/img/map.png" alt="Internal Structure Map" style="width:888px;height:443px;">
<p>
    The internal structure of the team is based around four distinct divisions. Each division has a leader that attends regular meetings with other group managers to discuss the progress in their division. The project leader represents the entire team and communicates with all external entities.
</p>
<p>Each division is expected to organize regular meetings that all members of the division will attend.</p>
<p>Communication with all members of the team and/or division will be done using <a href="https://cp317fall2017.slack.com">Slack</a> as the primary tool.</p>
<p>Decisions will be made democratically. Leaders' votes are worth the same as regular members.</p>

<h3 id="roles">4.3 Roles and Responsibilities</h3>
<table class="use-cases">
    <tr>
        <th>Role</th>
        <th>Responsibilities</th>
    </tr>
    <tr>
        <td>
            Project Leader
        </td>
        <td>
            <ul>
                <li>Attend regular meetings with other team leaders as well as meetings with assigned division</li>
                <li>Lead communicator with client (David Brown)</li>
                <li>Lead communicator with MLS affiliates</li>
                <li>Help other team members to best of their knowledge</li>
            </ul>
        </td>
    </tr>
    <tr>
        <td>
            Team Leader
        </td>
        <td>
            <ul>
                <li>Attend regular meetings with other team leaders as well as meetings with assigned division</li>
                <li>Lead their division into executing tasks to the best of their ability</li>
                <li>Organize teams to deliver work on time as expected</li>
            </ul>
        </td>
    </tr>
    <tr>
        <td>
            Frontend Members
        </td>
        <td>
            <ul>
                <li>Deliver working code as expressed in project guidelines</li>
                <li>Create an appealing, user-friendly experience</li>
                <li>Work with backend team to integrate all parts so they work</li>
            </ul>
        </td>
    </tr>
    <tr>
        <td>
            Backend Members
        </td>
        <td>
            <ul>
                <li>Deliver working code as expressed in project guidelines</li>
                <li>Create an easy-to-navigate, working backend</li>
                <li>Work with frontend team to integrate all parts so they work</li>
            </ul>
        </td>
    </tr>
    <tr>
        <td>
            Documentation Members
        </td>
        <td>
            <ul>
                <li>Create all required documentation</li>
                <li>Organize all documentation to be easily navigable</li>
            </ul>
        </td>
    </tr>
    <tr>
        <td>
            Testing Members
        </td>
        <td>
            <ul>
                <li>Test all code to be correctly working and functioning as intended</li>
                <li>Notify other team members if work does not meet team standards</li>
                <li>Document what has been tested and confirm that it is working</li>
            </ul>
        </td>
    </tr>
</table>
<p>
    In addition to this, all members are expected to:
    <ul>
        <li>Work with their team to produce the best possible result</li>
        <li>Meet expected deadlines to deliver work</li>
        <li>Attend group meetings</li>
    </ul>
</p>

<h2 id="management-plan">5. Management Process Plan</h2>

<h3 id="startup-plan">5.1 Project Start-Up Plan</h3>

<h4 id="estimation-plan">5.1.1 Estimation Plan</h4>
<p>
    The team aims to have the project completed before the end of December 2017. If re-estimation is inevitable, the team will set up a meeting to discuss how the schedule will be re-estimated. Re-estimation will not be done on a planned basis, but only when needed.
</p>

<h4 id="staffing-plan">5.1.2 Staffing Plan</h4>
<p>
<table style="width:400px", border="1px">
<tr>
    <td><b>Full Name</b></td>
    <td><b>Group</b></td>
</tr>

<tr>
    <td>Tyler Allen</td>
    <td>Backend</td>
</tr>

<tr>
    <td>Hind Althabi</td>
    <td>Documentation</td>
</tr>

<tr>
    <td>Mohamed Al-Thibeh</td>
    <td>Frontend</td>
</tr>

<tr>
    <td>Lucas Boulanger</td>
    <td>Backend</td>
</tr>

<tr>
    <td>Andrew Chua</td>
    <td>Documentation</td>
</tr>

<tr>
    <td>Simranjit Dhunsi</td>
    <td>Frontend</td>
</tr>

<tr>
    <td>Ben Douglas</td>
    <td>Documentation</td>
</tr>

<tr>
    <td>Jaenuz Gorospe</td>
    <td>Backend</td>
</tr>

<tr>
    <td>Brandon Gratch</td>
    <td>Backend</td>
</tr>

<tr>
    <td>Tyler Gwynn</td>
    <td>Documentation</td>
</tr>

<tr>
    <td>Jacob Heard</td>
    <td>Backend*</td>
</tr>

<tr>
    <td>Harold Hodgins</td>
    <td>Backend</td>
</tr>

<tr>
    <td>Sumeet Jhand</td>
    <td>Testing</td>
</tr>

<tr>
    <td>Sarah Johnston</td>
    <td>Frontend*</td>
</tr>

<tr>
    <td>Kosta Kalenteridis</td>
    <td>Backend</td>
</tr>

<tr>
    <td>Xiang Ke</td>
    <td>Backend</td>
</tr>

<tr>
    <td>Mark Kokan</td>
    <td>Frontend</td>
</tr>

<tr>
    <td>Mitchell Krampitz</td>
    <td>Documentation</td>
</tr>

<tr>
    <td>Weibin Ma</td>
    <td>Documentation</td>
</tr>

<tr>
    <td>Zac Macdonald</td>
    <td>Documentation</td>
</tr>

<tr>
    <td>Chongju Mai</td>
    <td>Backend</td>
</tr>

<tr>
    <td>Marko Mihailovic</td>
    <td>Documentation</td>
</tr>

<tr>
    <td>Troy Nechanicky</td>
    <td>Documentation*</td>
</tr>

<tr>
    <td>Yi Ling Pang</td>
    <td>Frontend</td>
</tr>

<tr>
    <td>Simon Phothitay</td>
    <td>Testing</td>
</tr>

<tr>
    <td>Pirajeev Prabaharan</td>
    <td>Testing</td>
</tr>

<tr>
    <td>Deep Raithatha</td>
    <td>Frontend</td>
</tr>

<tr>
    <td>Shuaib Reeyaz</td>
    <td>Testing</td>
</tr>

<tr>
    <td>Jose Romero</td>
    <td>Documentation</td>
</tr>

<tr>
    <td>Amardeep Sarang</td>
    <td>Testing</td>
</tr>

<tr>
    <td>Harjodh Singh</td>
    <td>Testing*</td>
</tr>


<tr>
    <td>Remneek Thind</td>
    <td>Documentation</td>
</tr>

<tr>
    <td>Sophie Wang</td>
    <td>Frontend</td>
</tr>

<tr>
    <td>Michelle Wong</td>
    <td>Frontend</td>
</tr>

<tr>
    <td>Linda Zhang</td>
    <td>Testing</td>
</tr>


</table>

* represents a group leader
</p>


<h4 id="resource-plan">5.1.3 Resource Acquisition Plan</h4>
<p>
    The project team has been given all required resources at the beginning of the project. All team members are expected to have:
    <ul>
        <li>A <a href="https://github.com/Sjohnston3700/CP317_MLS_Project">GitHub</a> account that is in the project repository</li>
		<li><a href="https://git-scm.com/">Git</a> installed on their local machine for version control management</li>
        <li>A <a href="https://cp317fall2017.slack.com">Slack</a> account to communicate with project members</li>
        <li>An <a href="https://www.ezemployee.com">ezEmployee</a> account to record time spent on the project</li>
		<li>An <a href="https://app.asana.com/">Asana</a> account to submit tickets and track bug and feature changes</a></li>
        <li>Access to appropriate development tools</li>
    </ul>
</p>

<h4 id="training-plan">5.1.4 Project Staff Training Plan</h4>
<p>Project staff will be trained through regular attendance of class. A Git training session has been held to teach members how to use version control for this project.</p>

<h3 id="control-plan">5.2 Control Plan</h3>

<h4 id="reqs-control-plan">5.2.1 Requirements Control Plan</h4>
<p>All requirement changes require a team discussion to evaluate the change in relation to project guidelines, scope, and quality.</p>
<p>
    Two main techniques include:
    <ul>
        <li>Traceability - Any change in the project can be directly traced back to the requirements plan</li>
        <li>Impact Analysis - Team will discuss impact of change</li>
    </ul>
</p>

<h4 id="schedule-control-plan">5.2.2 Schedule Control Plan</h4>
<p>
    Each member of the team will make their own individual efforts to consult the project schedule and meet deadlines. Upon missing a deadline, the schedule will be updated accordingly through discussion among division members. Each team member is expected to record time spent working on each part of the project and evaluate whether they will meet the deadline that is set on the schedule.
</p>

<h4 id="quality-control-plan">5.2.3 Quality Control Plan</h4>
<p>
    Each member of the team is expected to produce work that is correct and maintains the team’s standards of quality. To ensure this, the Testing team regularly reviews code and documentation. They ensure the software is working as intended and take action if it does not meet team standards. They are expected to notify the team that produced the fault by submitting a ticket to <a href="https://app.asana.com/">Asana</a>.
</p>

<h4 id="reporting-plan">5.2.4 Reporting Plan</h4>
<p>There are 3 main reporting mechanisms used by the project team:
    <ul>
        <li>Regular meetings - The team regularly gets together and reporting can be done verbally among group members</li>
        <li>Slack - Reports can be done through the team’s main communication tool</li>
        <li>Asana - Tickets can be made in Asana that notify members that a report has been made and provide the details of said report</li>
    </ul>
</p>

<h4 id="metrics-plan">5.2.5 Metrics Collection Plan</h4>
<p>
	The website <a href="https://ezemployee.com/">ezEmployee</a> is used to collect project metrics. Project members are expected to accurately log their time spent working each week on the project. 
</p>

<h3 id="risk-management-plan">5.3 Risk Management Plan</h3>
<p>
    Risk factors that the project faces include work that does not meet the deadline due to class conflicts, external responsibilities, and unforeseen circumstances. Conflicts are constantly tracked and if a conflict is met, action is taken to still attempt to meet that deadline.
</p>
<p>
	Integration between frontend and backend may not work as expected and will be met with a meeting both teams. The use of a version control system, <a href="https://git-scm.com/">Git</a>, allows the team to revert back to working code in the event of a fault-introducing commit.
</p>

<h3 id="closeout-plan">5.4 Project Closeout Plan</h3>
<p>
    Upon completion of the software project in December of 2017, the client will be given:
    <ul>
        <li>The final copy of the project</li>
        <li>All documentation for the project</li>
        <li>A log of all commits and events from September 2017 to December 2017</li>
		<li>A log of all hours spent by each team member on the project from September 2017 to December 2017</li>
		<li>A log of all tickets from September 2017 to December 2017</li>
    </ul>
</p>

<h2 id="technical-plan">6. Technical Process Plan</h2>
<p>
    All programming-based task timelines and strategies are recorded in this section. This is a tentative model, and is to be updated as the project progresses.
</p>
<h3 id="process-model">6.1 Process Model</h3>
<p>Below is the proposed timeline of the project and appropriate tasks:</p>
<table class="use-cases">
    <tr>
        <th>Phase</th>
        <th>Time Range</th>
        <th>Goals</th>
    </tr>
    <tr>
        <td>
            Planning
        </td>
        <td>
            2017/09/11 – 2017/09/21
        </td>
        <td>
            <ul>
                <li>Develop strategy for project progression</li>
                <li>Assign teams</li>
                <li>Review existing code from previous term</li>
            </ul>
        </td>
    </tr>
    <tr>
        <td>
            Requirements
        </td>
        <td>
            2017/09/22 – 2017/09/27
        </td>
        <td>
            <ul>
                <li>Document project requirements</li>
                <li>Familiarization with path of execution</li>
                <li>Create documents (SPMP, Requirements)</li>
                <li>Frontend prototype</li>
            </ul>
        </td>
    </tr>
    <tr>
        <td>
            Specification
        </td>
        <td>
            2017/09/28 – 2017/10/01
        </td>
        <td>
            <ul>
                <li>Analyse user end requirements</li>
                <li>Finalize project timeline</li>
                <li>Edit documents after client feedback</li>
                <li>Finalize tools and frameworks</li>
            </ul>
        </td>
    </tr>
    <tr>
        <td>
            Design
        </td>
        <td>
            2017/10/02 – 2017/10/11
        </td>
        <td>
            <ul>
                <li>UML diagrams</li>
                <li>Finalize frontend</li>
                <li>Finalize backend structure</li>
            </ul>
        </td>
    </tr>
    <tr>
        <td>
            Implementation
        </td>
        <td>
            2017/10/12 – 2017/11/18
        </td>
        <td>
            <ul>
                <li>Build functional prototype</li>
                <li>Upload to test server</li>
                <li>Gather client feedback</li>
                <li>Ensure frontend flow</li>
            </ul>
        </td>
    </tr>
    <tr>
        <td>
            Integration
        </td>
        <td>
            2017/11/19 – 2017/12/01
        </td>
        <td>
            <ul>
                <li>Assemble project</li>
                <li>Complete documentation</li>
                <li>Focus group testing</li>
            </ul>
        </td>
    </tr>
</table>
<p>
    Roles and tasks may be shifted to accommodate the student calendar and any unforeseen events. Team members will self-document their progress and any issues they encounter during development. There will be weekly meetings with group leaders to summarize the position of their respective sections. Any task not completed during the assigned time will be shifted to the next phase and may result in a reallocation of team resources.
</p>

<h3 id="methods">6.2 Methods, Tools and Techniques</h3>
<p>
    The project is split up into two sections: frontend and backend. They are being worked on by separate teams and are stored in a <a href="https://github.com/Sjohnston3700/CP317_MLS_Project">Github repository</a>. The leaders of each section are to work out internally the preferred strategy and framework for their team.
</p>
<p>This software will be made as a web application with no consideration for mobile usability.</p>
<p>
    Frontend
    <ul>
        <li>JavaScript 1.8</li>
        <li>HTML5/CSS</li>
    </ul>
</p>
<p>
    Backend
    <ul>
	    <li>Python 3.6</li>
        <li>PHP 5.4</li>
        <li>Brightspace API: Both Python and PHP versions are being developed</li>
        <li>Apache: A web server with support for PHP, Python3.x, and Flask</li>
    </ul>
</p>
<p>Miscellaneous tools to be used: Google Docs, Dropbox, MS Word.</p>

<h3 id="infrastructure-plan">6.3 Infrastructure Plan</h3>
<p>
    The software is a companion application to <a href="https://www.d2l.com/products/learning-environment/">Brightspace</a>. At key checkpoints prototypes will be uploaded to the test server <a href="https://ezmarker.herokuapp.com/">https://ezmarker.herokuapp.com/</a>. ezMarker will be transferred to <a href="#bohr">Bohr</a> upon completion. Additional resources may include but are not limited to printers, drafting materials, and other University resources.
</p>

<h3 id="product-acceptance-plan">6.4 Product Acceptance Plan</h3>
<p>
    Working prototypes will be presented to the client at key intervals for assessment along with progress documentation. The client will interact with prototypes on a test server, which will simulate the final product. Internal beta tests will also take place after each unit is completed.
</p>

<h2 id="supporting-plan">7. Supporting Process Plan</h2>

<h3 id="verification-plan">7.1 Verification and Validation Plan</h3>
<p>This section will be updated accordingly throughout the project lifecycle.</p>

<h3 id="doc-plan">7.2 Documentation Plan</h3>
<p>
    The documents that will be maintained and controlled are as follows:
    <ul>
        <li>Software Requirements document</li>
        <li>Analysis document</li>
        <li>Design document</li>
        <li>QA log</li>
        <li>Testing log</li>
        <li>Client feedback</li>
        <li>Interval reviews</li>
    </ul>
</p>

<h3 id="qa-plan">7.3 Quality Assurance Plan</h3>
<p>
    A QA team is dedicated to each stage of development. Members may be interchangeably assigned to tasks depending on the needs of unique cases. Multistage testing is to take place, accompanied by unit testing logs.
</p>

<h3 id="audit-plan">7.4 Reviews and Audit Plan</h3>
<p>
    The team is to be distributed prototypes that will be unit tested prior to client presentation. The team is to also peer review code and documentation within their sections and resolve any immediate bugs, along with proper documentation. All features will be presented to the client for acceptance testing before finalization.
</p>

<h3 id="resolution-plan">7.5 Problem Resolution Plan</h3>
<p>In the event of issues, the team is to follow the general contingency plan listed below:</p>
<ul>
	<li>Create a ticket in Asana</li>
	<li>Contact the appropriate parties via Slack</li>
</ul>
<p>If the issue cannot be resolved and has a detrimental impact on scheduling or the final product, the team leader is to contact the client immediately with possible alternatives.</p>

<h3 id="involvement-plan">7.6 Process Involvement Plan</h3>
<p>This section will be updated as the project progresses.</p>

<h2 id="revision-history">Revision History</h2>
<h3>Version 1.0 - 09/27/2017</h3>
<p>Authors: Jaenuz Gorospe, Sumeet Jhand, Sarah Johnston, Marko Mihailovic, Troy Nechanicky, Simon Phothitay, Jose Romero, Sophie Wang</p>
<p>SQA: Tyler Gwynn, Chongju Mai, Amardeep Sarang</p>
<h3>Version 2.0 - 10/02/2017</h3>
<p>Authors: Marko Mihailovic, Troy Nechanicky, Jose Romero, Sophie Wang, Sarah Johnston</p>
<p>SQA: Sarah Johnston</p>
{% endblock %}